@media only screen and (min-width: 576px) {
  .ucb-secondary-menu-region {
    display: flex;
    flex-direction: column;
  }
  
  .ucb-secondary-menu-region .ucb-menu {
    display: flex;
    flex-direction: row;
    justify-content: right;
  }
  
  .ucb-main-nav-container.ucb-secondary-menu-position-inline {
    justify-content: space-between;
  }
  
  .ucb-main-nav-container.ucb-secondary-menu-position-above {
    flex-direction: column-reverse;
    align-items: stretch;
  }
  
  .ucb-main-nav-container.ucb-secondary-menu-position-above .ucb-secondary-menu-region {
    background-color: #272727;
  }
  
  .ucb-secondary-menu-region .ucb-secondary-menu-region-container {
    display: flex;
    flex-direction: row;
    justify-content: right;
  }
  
  .ucb-main-nav-container.ucb-secondary-menu-position-inline .ucb-secondary-menu-region .ucb-secondary-menu-region-container, .ucb-main-nav-container.ucb-secondary-menu-position-inline .ucb-secondary-menu-region .ucb-menu {
    gap: .5rem;
  }
  
  .ucb-main-nav-container.ucb-secondary-menu-position-above .ucb-secondary-menu-region ≈, .ucb-main-nav-container.ucb-secondary-menu-position-above .ucb-secondary-menu-region .ucb-menu {
    gap: 1.5rem;
  }
  
  .ucb-main-nav-container.ucb-secondary-menu-position-inline .ucb-secondary-menu-region .menu.social-media .icon-bg,
  .ucb-main-nav-container.ucb-secondary-menu-position-inline .ucb-secondary-menu-region .menu-item a {
    margin: .25rem 0;
  }
  
  .ucb-main-nav-container.ucb-secondary-menu-position-above .ucb-secondary-menu-region .menu.social-media .icon-bg,
  .ucb-main-nav-container.ucb-secondary-menu-position-above .ucb-secondary-menu-region .menu-item a {
    color: #FFF;
    line-height: 1rem;
    margin: 0;
    padding: .5rem 0;
  }

  .ucb-main-nav-container.ucb-secondary-menu-position-above .ucb-secondary-menu-region.ucb-secondary-menu-button-display .ucb-secondary-menu-region-container, 
  .ucb-main-nav-container.ucb-secondary-menu-position-above .ucb-secondary-menu-region.ucb-secondary-menu-button-display .ucb-secondary-menu-region-container .ucb-menu {
    gap: .5rem;
  }
  
  .ucb-main-nav-container.ucb-secondary-menu-position-above .ucb-secondary-menu-region li.menu-item a {
    border-radius: 0;
  }

  .ucb-main-nav-container.ucb-secondary-menu-position-above .ucb-secondary-menu-region .menu.social-media .icon-bg:hover,
  .ucb-main-nav-container.ucb-secondary-menu-position-above .ucb-secondary-menu-region li.menu-item a:hover {
    color: var(--ucb-gold);
    background-color: transparent;
  }

  .ucb-button-gold.ucb-main-nav-container.ucb-secondary-menu-position-inline .ucb-secondary-menu-region .menu.social-media .icon-bg,
  .ucb-button-blue.ucb-main-nav-container.ucb-secondary-menu-position-inline .ucb-secondary-menu-region .menu.social-media .icon-bg,
  .ucb-button-gray.ucb-main-nav-container.ucb-secondary-menu-position-inline .ucb-secondary-menu-region .menu.social-media .icon-bg {
    border-radius: 4px;
    padding: 8px;
  }
  .ucb-main-nav-container.ucb-secondary-menu-position-inline .ucb-secondary-menu-region .menu.social-media .icon-bg {
  padding: 8px;
  }
  .ucb-main-nav-container.ucb-secondary-menu-position-inline .ucb-secondary-menu-region li.menu-item a {
    border-radius: 4px;
  }
  .ucb-button-gold.ucb-main-nav-container.ucb-secondary-menu-position-inline .ucb-secondary-menu-region .menu.social-media .icon-bg,
  .ucb-button-gold.ucb-main-nav-container.ucb-secondary-menu-position-inline .ucb-secondary-menu-region li.menu-item a:not(.is-active) {
    background-color: #CFB87C;
    color: #000;
    transition: box-shadow 0.5s ease, background-color 0.5s ease, color 0.5s ease;
  }
  .ucb-button-blue.ucb-main-nav-container.ucb-secondary-menu-position-inline .ucb-secondary-menu-region .menu.social-media .icon-bg,
  .ucb-button-blue.ucb-main-nav-container.ucb-secondary-menu-position-inline .ucb-secondary-menu-region li.menu-item a:not(.is-active) {
    background-color: #0277BD;
    color: #FFF;
    transition: box-shadow 0.5s ease, background-color 0.5s ease, color 0.5s ease;
  }
  .ucb-button-gray.ucb-main-nav-container.ucb-secondary-menu-position-inline .ucb-secondary-menu-region .menu.social-media .icon-bg,
  .ucb-button-gray.ucb-main-nav-container.ucb-secondary-menu-position-inline .ucb-secondary-menu-region li.menu-item a:not(.is-active) {
    background-color: #444;
    color: #fff;
    transition: box-shadow 0.5s ease, background-color 0.5s ease, color 0.5s ease;
  }
  .ucb-button-gray.ucb-main-nav-container.ucb-secondary-menu-position-inline .ucb-secondary-menu-region .menu.social-media .icon-bg:hover,
  .ucb-button-gray.ucb-main-nav-container.ucb-secondary-menu-position-inline .ucb-secondary-menu-region li.menu-item a.nav-link:not(.is-active):hover {
    background-color: #5e5e5e;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  }

  .ucb-button-gold.ucb-main-nav-container.ucb-secondary-menu-position-inline .ucb-secondary-menu-region .menu.social-media .icon-bg:hover,
  .ucb-button-gold.ucb-main-nav-container.ucb-secondary-menu-position-inline .ucb-secondary-menu-region li.menu-item a.nav-link:not(.is-active):hover {
    background-color: #d3be87;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  }

  .ucb-button-blue.ucb-main-nav-container.ucb-secondary-menu-position-inline .ucb-secondary-menu-region .menu.social-media .icon-bg:hover,
  .ucb-button-blue.ucb-main-nav-container.ucb-secondary-menu-position-inline .ucb-secondary-menu-region li.menu-item a.nav-link:not(.is-active):hover {
    background-color: #026dae;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  }
  .ucb-button-gray.ucb-main-nav-container.ucb-secondary-menu-position-inline .ucb-secondary-menu-region li.menu-item a.is-active,
  .ucb-button-gold.ucb-main-nav-container.ucb-secondary-menu-position-inline .ucb-secondary-menu-region li.menu-item a.is-active,
  .ucb-button-blue.ucb-main-nav-container.ucb-secondary-menu-position-inline .ucb-secondary-menu-region li.menu-item a.is-active {
    background-color: #000 !important;
    color: #fff !important;
    transition: box-shadow 0.5s ease, background-color 0.5s ease, color 0.5s ease;
  }
  .ucb-button-gray.ucb-main-nav-container.ucb-secondary-menu-position-inline .ucb-secondary-menu-region li.menu-item a.is-active:hover,
  .ucb-button-gold.ucb-main-nav-container.ucb-secondary-menu-position-inline .ucb-secondary-menu-region li.menu-item a.is-active:hover,
  .ucb-button-blue.ucb-main-nav-container.ucb-secondary-menu-position-inline .ucb-secondary-menu-region li.menu-item a.is-active:hover {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  }
}
