#block-boulder-base-content {
  --bs-gutter-y: 3rem;

  margin-top: calc(var(--bs-gutter-y) * 0.5);
  margin-bottom: calc(var(--bs-gutter-y) * 0.5);
}

.item-list.container ul li {
  border-bottom: 2px solid rgba(128, 128, 128, 0.333);
  margin-bottom: 20px;
  list-style: none;
  display: flex;
}

.item-list.container ul {
  padding-left: 0;
}

.views-field-field-ucb-article-thumbnail {
  width: calc(100px + var(--bs-gutter-x));
  height: auto;
  margin-bottom: 20px;
  padding-top: 5px;
}

.ucb-view-wrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.ucb-taxonomy-readmore {
  font-weight: 600;
  font-size: 75%;
}

.ucb-taxonomy-date {
  font-size: 85%;
  line-height: 85%;
  margin-bottom: 10px;
  margin-top: 5px;
}

.ucb-taxonomy-title {
  font-size: 120%;
  font-weight: normal;
  padding-bottom: 10px;
  margin-bottom: 10px;
  line-height: 1.3;
  margin: 0;
}

.ucb-taxonomy-thumbnail {
  width: calc(100px + var(--bs-gutter-x));
  height: auto;
  margin-bottom: 20px;
  min-width: calc(100px + var(--bs-gutter-x));
}

.item-list .views-field .field-content {
  display: flex;
}

.feed-icon {
  display: none;
}


.ucb-newsletter-list-text{
  font-weight: bold;
  margin-bottom: 0px;
}

.ucb-newsletter-row{
  margin-bottom: 20px;
  padding-bottom: 20px;
}

.ucb-newsletter-list-summary{
  margin-bottom: 0px;
}

.ucb-newsletter-row .row p{
  margin-bottom: 0;
}
