.ucb-article-list-header{
  font-weight: normal;
  font-size: 220%;
}

.ucb-list-msg {
  font-size: 1.25em;
  font-weight: bolder;
  text-align: center;
  display: none;
}

.ucb-loading-data {
  color: #01579b;
}

.ucb-article-card-data {
  display: flex;
  flex-direction: column;
}

.ucb-article-card {
  margin-bottom: 20px;
  border-bottom: solid rgba(128, 128, 128, 0.333);
  padding-bottom: 20px;
}

.ucb-article-card-title {
  font-size: 120%;
  font-weight: normal;
  margin-bottom: 10px;
  line-height: 1.3;
    margin: 0 0 10px 0;
}

.ucb-article-card-date {
  font-size: 85%;
  line-height: 85%;
  margin-bottom: 10px;
}

.ucb-article-card-body{
  margin-bottom: 0;
}


.ucb-article-card-img {
  width: 100px;
  height: 100px;
}

.ucb-article-card-more {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 75%;
  padding-bottom: 20px;
}
