.ucb-list-msg {
    font-size: 1.25em;
    font-weight: bolder;
    text-align: center;
  }
  
  .ucb-loading-data {
    color: #01579b;
    text-align: center;
  }
  
  .ucb-list-msg,
  .ucb-loading-data {
    display: block;
  }
  .ucb-list-msg[hidden],
  .ucb-loading-data[hidden] {
    display: none;
  }

.class-notes-list-filter{
  display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    padding: 10px;
    border: 1px solid rgba(128, 128, 128, 0.333);
    min-width: auto;
}

.ucb-class-notes-filter-label{
  font-size: 85%;
    font-weight: 600;
}

.ucb-class-notes-view-all-container{
  flex: 1;
  text-align: right;
  font-size: 85%;
}