/******* Breadcrumbs ********/  
.ucb-breadcrumb {
	background: transparent;
	border-radius: 0;
	padding: 0;
	font-weight: normal;
	list-style: none;
	width: fit-content;
	line-height: 1em;
	display: inline-block;
}

.ucb-breadcrumb ul {
	margin: 0;
	padding: 0;
	list-style: none;
	font-size: 0.85rem;
}

.ucb-breadcrumb li {
	display: inline-block;
	vertical-align: middle;
	white-space: nowrap;
	padding: 0;
}

.ucb-breadcrumb li a, .ucb-breadcrumb li span {
	white-space: normal;
}

.ucb-breadcrumb li::after {
	--ucb-breadcrumb-chevron: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNCAyNCI+PHBhdGggZmlsbD0ibm9uZSIgZD0ibTggMjAgOC04LTgtOCIgc3Ryb2tlPSIjMDAwIiBzdHJva2Utd2lkdGg9IjMiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCIvPjwvc3ZnPg==');
	display: inline-block;
	content: '';
	background-color: currentColor;
	-webkit-mask-image:  var(--ucb-breadcrumb-chevron);
	mask-image:  var(--ucb-breadcrumb-chevron);
	-webkit-mask-repeat: no-repeat;
	mask-repeat: no-repeat;
	-webkit-mask-position: center center;
	mask-position: center center;
	width: 0.75em;
	height: 0.75em;
	margin: 0 0.25rem;
}

.ucb-breadcrumb li.ucb-breadcrumb-static:last-child::after {
	display: none;
}
