/*
  Placeholder for styles for the basic form page
 */

.form-page-webform form {
  padding: 10px;
  background-color: transparent;
  border: 1px solid rgba(200, 200, 200, 0.5);
  width: fit-content;
}

input.form-text,
textarea.form-textarea,
input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
  padding: 10px;
  border: 1px solid rgba(128, 128, 128, 0.333);
  background-color: #f2f2f2;
  color: #111;
  line-height: 150%;
  font-size: inherit;
}

form label {
  font-weight: bold;
  display: block;
}

.form-item,
.form-actions {
  margin-top: 1em;
  margin-bottom: 1em;
}

.webform-container-inline div,
.webform-container-inline div.form-item {
  display: inline;
}

form input[type="checkbox"] + label,
form input[type="radio"] + label {
  display: inline-block;
}
