* {
  height: auto;
}
body {
  font-family: "Helvetica-Neue", Helvetica, Arial, sans-serif;
  font-size: 12pt;
  margin: 1em;
  background-color: #fff;
  line-height: 1.4;
}

/* BRANDING */

.ucb-brand-bar img.ucb-logo {
  content: url(https://cdn.colorado.edu/static/brand-assets/live/images/cu-boulder-logo-text-black.svg);
}
.site-name {
  display: none;
}
.ucb-site-name-wrapper a {
  font-size: 18pt;
  padding-bottom: 0.5em;
  margin-bottom: 0.5em;
  border-bottom: 1px solid #757575;
  color: #111 !important;
}
.bs-background-styled {
  color: #000 !important;
}

.bs-background-styled a{
  color: #000 !important;
}

.ucb-site-information-print-title{
  color: #000 !important;
}
.block-title-text {
  color: #000 !important;

}
.ucb-video-reveal-controls,
.text-white,
.ucb-hero-unit-links,
.ucb-bootstrap-layout-section {
  color: #000 !important;

}
/* -------- Archived from D7, Not implemented in D10 ---------
.print-breadcrumb {
  text-align: right;
  font-size: 10pt;
  display: none;
}

.print-hr {
  border: 0;
  height: 1px;
  width: 100%;
  color: #757575;
  background-color: #757575;
}
*/
th {
  text-align: left; /* LTR */
  color: #006;
  border-bottom: 1px solid #ccc;
}
tr.odd {
  background-color: #ddd;
}
tr.even {
  background-color: #fff;
}
td {
  padding: 5px;
}
#menu {
  visibility: hidden;
}
a:link {
  color: #0277bd;
}
a:visited {
  color: #0277bd;
}
a:hover {
  color: #0277bd;
}
a:link img,
a:visited img {
  border: 0;
}
/* -------- Archived from D7, Not implemented in D10 ---------
.print-footnote {
  font-size: xx-small;
}
img.print-logo {
  border: 0;
}
.print-message {
  border: medium dotted blue;
  padding: 1em;
}
.print-source_url {
  font-size: small;
}
.print-links {
  font-size: small;
}
.print-footer {
  text-align: center;
}
*/
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

/* HIDE FROM PRINTING
.hide-print,
*/
#ucb-mobile-menu-toggle,
/*
#alerts-wide-wrapper,
.ucb-sidebar,
#slider-wrapper,
#cu_back_to_top,
*/
.ucb-menu,
.ucb-sticky-menu,
.toolbar-menu-administration,
.ucb-admin-alert,
.ucb-local-tasks,
.ucb-search-link,
.ucb-lang-select,
.ucb-footer-top,
.ucb-footer-menu-region,
.ucb-above-content-region,
.ucb-below-content-region,
.ucb-brand-bar-controls,
header.ucb-dark,
header.ucb-light,
header.ucb-white,
header.ucb-black,
.ucb-main-nav-container {
  display: none !important;
}

.ucb-footer-print {
  display: block;
  float: right;
  text-align: right;
  padding-top: 20px;
  border-top: 1px solid #aaa;
  font-size: 80%;
  a {
    text-decoration: none;
  }
  h2 {
    margin: 0;
    font-size: 100%;
  }
  p {
    margin-top: 0;
  }
}

.ucb-footer:not(.ucb-home-link),
.ucb-footer:not(.ucb-site-information-print),
.ucb-site-contact-footer-info,
#block-site-contact-info-footer {
  display: none;
}

.ucb-footer-print .ucb-site-information-print {
  color: #111;
}

#block-boulder-base-content {
  h1 {
    font-size: 24pt;
    margin: 0;
    padding: 0;
  }
  h2 {
    font-size: 21pt;
  }
  h3 {
    font-size: 18pt;
  }
  h4 {
    font-size: 17pt;
  }
  h5 {
    font-size: 16pt;
  }
  h6 {
    font-size: 15pt;
    margin: 0;
    padding: 0;
  }
}
.column-list {
  columns: unset;
}
.accordion-header a {
  color: #000;
}
.accordion .collapse:not(.show),
.accordian-content .collapse:not(.show),
.horizontal-tab-content .collapse:not(.show),
.vertical-tab-content .collapse:not(.show) {
  display: block !important;
}
.ucb-expandable-content .fade:not(.show) {
  opacity: 1;
}
.ucb-footer h2 {
  font-size: 100%;
  font-weight: bold;
  margin: 0;
}

.imageMediaStyle img {
  display: block;
  float: none;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-bottom: 0px;
}

/* LIVECHAT

#livechat-compact-container {
  display: none !important;
}
*/
/* Block Sections & Heroes */
.block-section,
.hero-unit {
  background-image: none !important;
  background-color: #eee;
  color: #000 !important;
}
.block-hero-unit.size-large .ucb-hero-unit-content,
.block-hero-unit.size-small .ucb-hero-unit-content {
  padding: 0 !important;
}
a.button {
  background-color: #0277bd;
  color: #fff;
  padding: 4px 10px;
  display: inline-block;
  text-decoration: none;
}

.ucb-slider-block.bottom-overlay .carousel-inner .carousel-caption,
.ucb-slider-block.right-overlay .carousel-inner .carousel-caption,
.ucb-slider-block.center-overlay .carousel-inner .carousel-caption,
.ucb-slider-block.right-content .carousel-inner .carousel-caption,
.ucb-slider-block.bottom-content .carousel-inner .carousel-caption {
  max-width: 100%;
  top: auto;
  bottom: 0;
  background-color: var(--ucb-darker);
  right: 0;
  left: 0;
  text-align: left;
  position: relative;
}
.ucb-slider-block .slide-image-container {
  padding-bottom: 0;
  flex-grow: unsetå;
}

.ucb-slider-block.right-content .carousel-item-structure {
  display: flex;
  flex-direction: column !important;
}
.carousel-control-next,
.carousel-control-prev {
  display: none;
}