.ucb-search-page-content #block-boulder-base-content > h2 {
  display: none;
}

#search-form {
  padding-bottom: 20px;
}

#search-form #edit-basic {
  display: flex;
  flex-direction: row;
  border: 5px solid #e0e0e0;
}

#search-form #edit-basic .form-item {
  flex: 1;
}

#search-form #edit-basic #edit-submit {
  flex: 0;
}

#search-form #edit-basic label {
  position: absolute;
  display: block;
  left: -999%;
}

#search-form #edit-basic .form-item {
  margin: 0;
}

#search-form #edit-basic .form-search {
  width: 100%;
  font-size: 1em;
  line-height: 40px;
  height: 40px;
  padding: 0 8px;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  border: none;
  -webkit-appearance: none;
  outline-offset: 0px;
  transition: outline-offset .1s ease-in-out;
}

#search-form #edit-basic .form-search:focus {
  outline: #0277BD solid 2px;
  outline-offset: 3px;
}

#search-form #edit-basic #edit-submit {
  color: var(--button-text-color-gold) !important;
  background-color: var(--button-background-color-gold);
  line-height: 40px;
  height: 40px;
  padding: 0 8px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  border: none;
  -webkit-appearance: none;
  margin: 0;
  transition: background-color 0.5s ease;
}

#search-form .search-help-link {
  display: none;
}

#google-cse-results {
  margin-bottom: 20px;
}

#google-cse-results .gsc-control-cse, #google-cse-results .gsc-control-cse .gsc-table-result {
  font-size: 1em;
  font: inherit;
}

#google-cse-results .gsc-control-cse {
  padding: 0;
}

#google-cse-results .gsc-result.gsc-promotion {
  border: 1px solid #e0e0e0;
  padding: 10px;
  font-size: 1.1em;
  background: #f7f7f7;
  margin-bottom: 20px;
}

#google-cse-results .gsc-result.gsc-promotion a.gs-title:link *,
#google-cse-results .gsc-result.gsc-promotion a.gs-title:visited * {
  color: #01578b;
}

#google-cse-results .gsc-result {
  padding: 10px 0;
  border-bottom: 1px solid #e0e0e0;
}

#google-cse-results .gsc-result .gs-result {
  display: flex;
  flex-direction: column;
}

#google-cse-results .gsc-result .gs-result .gsc-thumbnail-inside {
  order: 1;
}

#google-cse-results .gsc-result .gs-result .gsc-url-top {
  order: 3;
}

#google-cse-results .gsc-result .gs-result .gsc-table-result {
  order: 2;
}

#google-cse-results .gsc-result .gs-result a.gs-visibleUrl,
#google-cse-results .gsc-result .gs-result .gs-visibleUrl {
  color: #757575;
}

#google-cse-results .gsc-result .gs-result .gs-spelling a {
  color: #0277BD;
}

#google-cse-results .gsc-result .gs-result .gs-spelling-original,
#google-cse-results .gsc-result .gs-result .gs-visibleUrl {
  font-size: 75%;
}

#google-cse-results .gsc-result .gs-title {
  height: auto;
}

#google-cse-results .gsc-result a.gs-title {
  color: #0277BD;
  display: block;
  text-decoration: none;
  font-size: 1.1em;
}

#google-cse-results .gsc-result a.gs-title b {
  font-weight: bold;
  color: #01578b;
}

#google-cse-results .gsc-result .gsc-url-bottom {
  font-size: .85em;
  color: #757575;
}

#google-cse-results .gsc-result:hover {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

#google-cse-results .gsc-cursor {
  padding: 20px 0;
  display: block;
}

#google-cse-results .gsc-cursor .gsc-cursor-page {
  display: inline-block;
  margin: 0;
  margin-right: -1px;
  padding: 0;
  text-align: center;
  border: 1px solid #e0e0e0;
  white-space: nowrap;
  line-height: 1;
  padding: 8px;
  text-decoration: none;
  color: #0277BD;
}

#google-cse-results .gsc-cursor .gsc-cursor-page:hover {
  background: #e0e0e0;
  color: #01578b;
}

#google-cse-results .gsc-cursor .gsc-cursor-page.gsc-cursor-current-page {
  background-color: #0277BD;
  border: 1px solid #0277BD;
  color: #fff;
}

#google-cse-results .gsc-branding-text,
#google-cse-results .gcsc-branding-text {
  vertical-align: top;
  padding-bottom: 2px;
  text-align: right;
  font-size: 11px;
  margin-right: 2px;
  color: #666;
  white-space: nowrap;
}

#google-cse-results .gs-web-image-box,
#google-cse-results .gs-promotion-image-box {
  float: none;
  padding: 2px 8px 2px 0;
  width: auto;
}

#google-cse-results .gs-web-image-box img.gs-image,
#google-cse-results .gs-web-image-box img.gs-promotion-image,
#google-cse-results .gs-promotion-image-box img.gs-image,
#google-cse-results .gs-promotion-image-box img.gs-promotion-image {
  width: 100%;
  height: auto;
  display: none;
  vertical-align: middle;
  max-width: none;
}
