.ucb-class-note-link{
  font-size: 200%;
    font-weight: 700;
    color: #959595 !important;
    margin-bottom: 10px;
}

.ucb-class-note-year-container{
  margin-bottom: 10px;
}

.ucb-class-note-link:hover{
  color: #333 !important;
}

.ucb-class-notes-list-container{
  margin-top: 20px;
}

.class-note-posted-date{
  font-size: 75%;
}

.ucb-class-notes-list-note-item{
  margin-bottom: 20px;
    border-bottom: 1px solid rgba(128, 128, 128, 0.333);
    /* padding-bottom: 20px; */
}

.class-note-year-select, .ucb-class-notes-filter-label{
  margin-right: 10px;
}

.ucb-list-msg {
    font-size: 1.25em;
    font-weight: bolder;
    text-align: center;
  }
  
  .ucb-loading-data {
    color: #01579b;
    text-align: center;
  }
  
  .ucb-list-msg,
  .ucb-loading-data {
    display: block;
  }
  .ucb-list-msg[hidden],
  .ucb-loading-data[hidden] {
    display: none;
  }

.class-notes-list-filter{
  display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    padding: 10px;
    border: 1px solid rgba(128, 128, 128, 0.333);
    min-width: auto;
}

.ucb-class-notes-filter-label{
  font-size: 85%;
    font-weight: 600;
}

.ucb-class-notes-view-all-container{
  flex: 1;
  text-align: right;
  font-size: 85%;
}

@media only screen and (max-width: 525px) {
  .ucb-class-notes-view-all-container{
    flex: auto;
    text-align: inherit;
  }
}