/*
  Placeholder for styles for the basic form page
 */

.form-page-webform form {
  margin-top: 20px;
  margin-bottom: 20px;
}

.form-page-webform div:not(:last-child)>form {
  border-bottom: 1px solid rgba(200, 200, 200, 0.5);
}

form .form-required::after {
  display: inline-block;
  margin-inline: 0.15em;
  content: "*";
  color: #f00;
  font-size: 0.875rem;
}

/* Max sizing for full column, 50/50 and 33/66 use full width */
.ucb-bootstrap-layout__row-width--12 .ucb-form-body{
  max-width: 66.66%;
}
