/*
  Placeholder for styles for the basic form page
 */

.form-page-webform form {
  margin-top: 20px;
  margin-bottom: 20px;
}

.form-page-webform div:not(:last-child)>form {
  border-bottom: 1px solid rgba(200, 200, 200, 0.5);
}
