.ucb-list-msg {
  font-size: 1.25em;
  font-weight: bolder;
  text-align: center;
}

.ucb-loading-data {
  color: #01579b;
  text-align: center;
}

.ucb-list-msg,
.ucb-loading-data {
  display: block;
}
.ucb-list-msg[hidden],
.ucb-loading-data[hidden] {
  display: none;
}

.ucb-person-card-list {
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid rgba(20 20 20 / 20%);
  margin-left: 0px;
}

.ucb-person-card-details {
  display: flex;
  flex-direction: column;
  padding-left: 0px;
}

.ucb-person-card-name > h2 {
  margin-bottom: 0px;
  font-size: 120%;
  font-weight: 600;
}

.ucb-person-card-dept {
  text-transform: uppercase;
  font-size: 0.8rem;
  margin-bottom: 0.25rem;
}

.ucb-person-card-contact {
  display: flex;
  flex-direction: row;
}

.departments-grid,
.person-dept-table {
  text-transform: uppercase;
  display: block;
  margin-bottom: 5px;
}

.person-title-table {
  display: block;
  margin-top: 5px;
}

.ucb-person-card-img-grid {
  margin-bottom: 10px;
}

.ucb-people-list-table-head {
  width: 100%;
}

.ucb-people-list-table-photo {
  width: 100px;
  height: 100px;
  min-width: 100px;
  object-fit: cover;
  text-align: center;
  vertical-align: middle;
}

.people-list-icon {
  color: #aaa;
}

.ucb-people-list-contact {
  font-family: Roboto, Helvetica, sans-serif;
  font-weight: 400;
}

.ucb-person-card-dept-ul {
  display: flex;
  flex-direction: row;
  padding-left: 0;
}

.ucb-person-card-dept-ul li {
  margin-right: 2em;
}

.ucb-person-card-dept-ul li:first-of-type {
  list-style: none;
}

thead.ucb-people-list-table-head {
  background: #ccc;
}

tbody.ucb-people-list-table-tablebody {
  background: #fafafa;
}

.form-item {
  margin: 0;
  margin-right: 15px;
  margin-bottom: 10px;
}

.form-item > label span {
  display: block;
  font-size: 75%;
  font-weight: 500;
}

.people-list-filter {
  padding: 10px 10px 0;
  margin-bottom: 20px;
  overflow: hidden;
  background-color: #e7e7e7;
}

.form-item > .form-submit-btn {
  margin-top: 21px;
  font-size: 11px;
  font-weight: 500;
  box-shadow: 0 1px 2px rgb(0 0 0 / 20%);
  border: 1px solid #ddd;
  border-radius: 3px;
  padding: 5px 10px;
  color: #222;
  background: #eeeeee;
}

.people-list-filter .taxonomy-select {
  max-width: 150px;
}

.ucb-person-card-img {
  padding: 0 20px 10px 0;
  height: 110px;
  width: 120px;
}

.ucb-person-card-links {
  padding-right: 20px;
}

.ucb-person-card-contact-table {
  display: flex;
  flex-direction: column;
}

ucb-people-list .table-bordered > :not(caption) tr{
  border-width: inherit;
}

ucb-people-list .table-bordered > :not(caption) td {
  border-width: var(--bs-border-width);
}

.iconColor {
  color: #565a5c;
}

.ucb-person-card-body {
  padding-bottom: 0.5rem;
}

.ucb-person-card-img-grid > a > img {
  width: 100%;
}

.people-list-filter .form-item.reset-button-form-item {
  margin-bottom: 0;
}

.people-list-filter .reset-button {
  background-color: #fff;
  font-size: 0.8em;
  font-weight: bold;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  transition: box-shadow 0.5s ease, background-color 0.5s ease, color 0.5s ease;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  padding: 0 1em;
  box-sizing: border-box;
  margin-top: 1em;
}

.people-list-filter .reset-button:hover {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.people-list-filter .reset-button:active {
  box-shadow: 0 3px 15px rgba(0, 0, 0, 0.35);
}

@media (max-width: 767px) {
  .ucb-person-card-contact {
    flex-direction: column;
  }
}
