#ucb-mobile-menu-toggle {
  display: none;
}

.ucb-mobile-footer-menu {
  display: none;
}

@media only screen and (max-width: 600px) {
  .ucb-mobile-menu-button-div {
    line-height: 2em;
  }
  .ucb-primary-menu-region .ucb-primary-menu-region-container,
  .ucb-secondary-menu-region .ucb-secondary-menu-region-container {
    padding-left: 0;
    padding-right: 0;
  }
  .ucb-main-nav-continer.ucb-secondary-menu-position-above {
    flex-direction: column;
  }
  .ucb-main-nav-continer.ucb-secondary-menu-position-above .ucb-secondary-menu-region .menu-item a {
    color: black;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 16px;
    line-height: 2rem;
    margin-left: 2px;
  }
  .ucb-main-nav-continer.ucb-secondary-menu-position-above .ucb-secondary-menu-region, .ucb-main-nav-continer.ucb-secondary-menu-position-above .ucb-secondary-menu-region .ucb-menu {
    gap: 0;
  }
  .ucb-main-nav-continer.ucb-secondary-menu-position-above .ucb-secondary-menu-region {
    background-color: white;
  }
  .ucb-secondary-menu-region {
    width: 100%;
  }
  #ucb-mobile-menu-toggle {
    display: block;
    max-width: 100px;
    font-size: 2em;
    margin-left: auto;
  }
  .ucb-menu,
  .ucb-primary-menu-region {
    width: 100%;
  }
  .ucb-menu.nav.hide {
    display: none;
  }
  .ucb-menu.open {
    display: flex;
    flex-direction: column;
  }
  .ucb-menu .menu-item {
    border-bottom: 1px solid lightgrey;
  }
  .ucb-menu.open .menu-item a {
    font-weight: 300;
    font-size: 16px;
    padding-left: 16px;
    border-bottom: 2px solid transparent;
  }
  .ucb-menu .menu-item.active {
    font-weight: 600;
    color: #000;
    background-color: #cfb87c;
    border-bottom: 1px solid #cfb87c;
  }
  .ucb-menu.open .menu-item.active a {
    border-bottom: 2px solid transparent;
  }

  .ucb-mobile-footer-menu {
    display: flex;
  }
  .ucb-main-nav-continer.ucb-secondary-menu-position-inline .ucb-secondary-menu-region .ucb-menu {
    gap: 0;
  }
  .ucb-main-nav-continer.ucb-secondary-menu-position-above .ucb-secondary-menu-region .menu-item a:hover,
  .ucb-main-nav-continer.ucb-secondary-menu-position-inline .ucb-secondary-menu-region .menu-item a:hover {
    border-bottom: 2px solid black;
    color: black;
  }

  .ucb-main-nav-continer.ucb-secondary-menu-position-above .ucb-secondary-menu-region .menu-item:not(:active) a:hover,
  .ucb-main-nav-continer.ucb-secondary-menu-position-inline .ucb-secondary-menu-region .menu-item:not(:active) a:hover {
    background-color: white;
  }
  .ucb-main-nav-continer.ucb-secondary-menu-position-inline .ucb-secondary-menu-region .menu-item a {
    margin: 0;
    line-height: 2rem;
  }
}

.ucb-page-content .ucb-menu {
  flex-direction: column;
}

.ucb-page-content .ucb-menu li.menu-item .nav-link {
  color: #202020;
  background-color: #FFFFFF;
  font-size: 1em;
  line-height: 1.2em;
  border-bottom: 1px solid #e7e7e7;
  border-radius: 0;
  margin: 0;
  padding: 10px;
}

.ucb-page-content .ucb-menu li.menu-item:last-child .nav-link {
  border-bottom: none;
}

.ucb-page-content .ucb-menu li.menu-item .nav-link::after {
  display: none;
}

.ucb-page-content .ucb-menu li.menu-item .nav-link:hover {
  color: #000;
  background-color: #e7e7e7;
}

.ucb-page-content .ucb-menu li.menu-item.active .nav-link,
.ucb-page-content .ucb-menu li.menu-item .nav-link.is-active {
  color: #000;
  background-color: var(--ucb-gold);
}
