/******* Breadcrumbs ********/  
.ucb-breadcrumb {
	background: transparent;
	border-radius: 0;
	padding: 0;
	font-weight: normal;
	list-style: none;
	width: fit-content;
	line-height: 1em;
	display: inline-block;
	padding-top: 1rem;
}

.ucb-breadcrumb ul {
	margin: 0;
	padding: 0;
	list-style: none;
	font-size: 0.85rem;
}

.ucb-breadcrumb li {
	display: inline-block;
	vertical-align: middle;
	white-space: nowrap;
	padding: 0;
}

.ucb-breadcrumb li a, .ucb-breadcrumb li span {
	white-space: normal;
}

.ucb-breadcrumb li::after {
	--ucb-breadcrumb-chevron: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512"><path d="M342.6 233.4c12.5 12.5 12.5 32.8 0 45.3l-192 192c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3L274.7 256 105.4 86.6c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0l192 192z"/></svg>');
	display: inline-block;
	content: '';
	background-color: currentColor;
	-webkit-mask-image:  var(--ucb-breadcrumb-chevron);
	mask-image:  var(--ucb-breadcrumb-chevron);
	-webkit-mask-repeat: no-repeat;
	mask-repeat: no-repeat;
	-webkit-mask-position: center center;
	mask-position: center center;
	width: 0.5625em;
	height: 0.75em;
	margin: 0 0.25rem;
}

.ucb-breadcrumb li.ucb-breadcrumb-static:last-child::after {
	display: none;
}
