main {
    padding-bottom: 0;
}

.ucb-page-style-dark {
	color: rgb(211, 211, 211);
	background-color: rgb(32, 32, 32);
}

.ucb-page-style-dark h1, .ucb-page-style-dark h2, .ucb-page-style-dark h3, .ucb-page-style-dark h4, .ucb-page-style-dark h5, .ucb-page-style-dark h6, .ucb-page-style-dark strong, .ucb-page-style-dark blockquote {
	color: rgb(231, 231, 231);
}

.ucb-page-style-dark article p a:link, article.ucb-page-style-dark p a:link, .ucb-page-style-dark .ucb-breadcrumb a:link, .ucb-page-style-dark .ucb-related-articles-block a:link, .ucb-page-style-dark article p a:visited, article.ucb-page-style-dark p a:visited, .ucb-page-style-dark .ucb-breadcrumb a:visited, .ucb-page-style-dark .ucb-related-articles-block a:visited {
	color: #cfb87c;
}

.ucb-page-style-dark article p a:hover, article.ucb-page-style-dark p a:hover, .ucb-page-style-dark .ucb-breadcrumb a:hover, .ucb-page-style-dark .ucb-related-articles-block a:hover {
	color: #FFF;
}

.ucb-page-style-dark .ucb-article-categories a:link, .ucb-page-style-dark .ucb-article-categories a:visited, .ucb-page-style-dark .ucb-article-tags a:link, .ucb-page-style-dark .ucb-article-tags a:visited {
	color: rgb(191, 191, 191);
	background-color: rgb(8, 8, 8);
}

.ucb-page-style-dark .ucb-article-categories a:hover, .ucb-page-style-dark .ucb-article-tags a:hover {
	color: #000;
	background-color: #cfb87c;
}

article.ucb-page-style-dark {
	padding-top: 1.75em;
	padding-bottom: 1.75em;
}

article.ucb-page-style-dark .ucb-article-author-name a{
  color: var(--ucb-gold)
}
article.ucb-page-style-dark .ucb-article-author-name a:hover{
  color: var(--ucb-white)
}

/* Override for Dark-style Articles with a Title Image */
article.ucb-page-style-dark:has(.backgroundTitleDiv){
  padding-top: 0;
}

/* Override for the content wrapper on Dark Mode Articles to maintain background color */
article.ucb-page-style-dark.ucb-content-wrapper{
  margin-top: 0px;
  margin-bottom: 0px;
}

/* div#block-boulderd9-base-content::after {
  content: "";
  width: 100%;
  height: 2em;
  background-image: linear-gradient(0deg, rgba(255,255,255,0) 0%, rgba(86,86,86,0.75) 65%, rgba(32,32,32,1) 100%);
  display: inline-block;
}

div#block-boulderd9-base-content::before {
  content: "";
  width: 100%;
  height: 2em;
  display: inline-block;
  margin-bottom: -7px;
  background-image: linear-gradient(0deg, rgba(32,32,32,1) 0%, rgba(86,86,86,0.75) 35%, rgba(255,255,255,0) 100%);
} */
