.ucb-article-meta {
  display: flex;
  flex-direction: row;
  font-size: 14px;
  margin-bottom: 1em;
}

.ucb-article-date {
  padding-right: 0.5em;
}

.ucb-article-author-name {
  font-weight: 700;
}

i.far.fa-calendar {
  color: #999;
}

.ucb-article-image img {
  max-width: 100%;
  height: auto;
  margin: 1em 0;
}

.ucb-article-tags,
.ucb-article-categories,
.ucb-article-issue {
  margin-bottom: 1em;
  display: flex;
  font-size: 12px;
  line-height: 1em;
}

.ucb-article-category-icon, .ucb-article-tag-icon{
  background-color: #555555;
  color: #e7e7e7;
  height: 16px;
  width: 16px;
}
.ucb-article-category-icon > svg, .ucb-article-tag-icon > svg{
 padding: 2px;
}

.ucb-article-categories div,
.ucb-article-tags div,
.ucb-article-issue div {
  display: flex;
  flex-direction: row;
  line-height: 1.5em;
  padding: 2px;
}

.ucb-article-categories a:link,
.ucb-article-categories a:visited,
.ucb-article-tags a:link,
.ucb-article-tags a:visited,
.ucb-article-issue a:link,
.ucb-article-issue a:visited {
  background: #e7e7e7;
  color: #555;
  padding: 2px 6px;
  display: inline-block;
  margin: 0 5px 5px 0;
}

.ucb-article-categories a:hover,
.ucb-article-tags a:hover,
.ucb-article-issue a:hover {
  background: #555;
  color: #fff;
}

.ucb-article-tags i.fas,
.ucb-article-categories i.fas
.ucb-article-issue i.fas {
  padding: 0.5em;
  background: #555;
  color: #fff;
  margin-right: -1em;
}

.ucb-article-blockquote {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: left;
  margin: 0 20px 0 0;
  padding: 20px;
}

.ucb-article-content-image {
  text-align: center;
}

.ucb-article-content-media-left img,
.ucb-article-content-media-right img,
.ucb-article-content-media-above img,
.ucb-article-content-media-below img {
  width: auto;
  height: auto;
  margin: auto;
  max-width: 100%;
  max-height: 100%;
}

.ucb-article-content-media {
  align-self: center;
  text-align: center;
  margin-bottom: 20px;
}

.ucb-article-content-media.ucb-article-content-media-above,
.ucb-article-content-media.ucb-article-content-media-below {
  text-align: center;
}

.ucb-article-blockquote-icon {
  font-size: 150%;
  padding-right: 20px;
}

.ucb-article-blockquote-text {
  font-weight: bold;
}

.ucb-article-hero {
  margin-bottom: 20px;
}

.ucb-page-style-striped .ucb-striped-content:nth-child(even) {
  background-color: #eeeeee;
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
  padding-top: 20px;
  margin-bottom: 20px;
}

.ucb-article-author-name span:not(:last-of-type):after{
  content: ",";
}


.backgroundTitleDiv {
  position: relative;
  z-index: 0;
  object-fit: fill;
}

.centeredTitle {
  position: absolute;
  bottom: 0.5em;
}

.article-header-White{
  color: white;
}

.article-header-Black{
  color:black
}

.backgroundTitleDiv > div > div > .imageMediaStyle > img {
  width: 100%;
  max-height: 600px;
  object-fit: cover;
}

.backgroundTitleDiv > div > div > .imageMediaStyle{
  padding-bottom: 0;
  margin-bottom: 20px;
}

.ucb-overlay-dark > div > div > .imageMediaStyle > img, 
.ucb-overlay-light > div > div > .imageMediaStyle > img{
  opacity: 75%;
}

.ucb-overlay-light > div > div > .imageMediaStyle{
  background: white;
}
.ucb-overlay-dark > div > div > .imageMediaStyle{
  background: black;
}

.ucb-article-supplemental-text{
  margin-bottom: 1em;
  font-style: italic;
  font-size: 0.85em;
}

/* Removes caption on header img */
.backgroundTitleDiv > div > div > .media-image-caption{
  display: none;
}
