.issue-title{
  margin-bottom: 10px;
}

.issue-section-content {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
  border-bottom: 1px solid rgba(128, 128, 128, 0.333);
  padding-bottom: 20px;
  align-items: flex-start;
}

.issue-section-content-feature {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  border-bottom: 1px solid rgba(128, 128, 128, 0.333);
  padding-bottom: 20px;
}

.teaser-article-thumbnail,
.title-thumb-article-thumbnail {
  margin-right: 20px;
  margin-bottom: 20px;
}

.issue-article-categories,
.issue-article-tags {
  display: block;
  padding-bottom: 5px;
  margin: 0 5px 5px 0;
}

.issue-section-teaser-summary {
  margin: 0;
}

.issue-section-teaser-read,
.issue-section-feature-read {
  color: #0277BD;
  transition: background-color 0.25s ease, border-color 0.25s ease, color 0.25s ease;
  text-decoration: none;
  text-decoration-color: rgba(2, 119, 189, 0.65);
  font-size: 75%;
  text-transform: uppercase;
  font-weight: 600;
}

.issue-article-categories>a,
.issue-article-tags>a {
  margin: 3px;
  padding: 3px;
  color: #666 !important;
  background-color: #e7e7e7;
  font-weight: 600;
  text-decoration: none;
  padding: 3px;
  font-size: 75%;
}

.feature-article-thumbnail>div>div>div>img {
  aspect-ratio: 2 / 1;
  object-fit: cover;
  margin-bottom: 10px;
}

.title-thumb-article-thumbnail>div>div>div>img {
  width: 100px;
  height: 100px;
  object-fit: cover;
}

.teaser-article-thumbnail img{
  max-height: 100px;
  max-width: 100px;
  object-fit: contain;
  min-height: 100px;
  min-width: 100px;
}

.issue-content>.issue-section-content:last-child,
.issue-content>.issue-section-content-feature:last-child {
  border-bottom: none;
  padding-bottom: 0;
}

.issue-section-title-only {
  padding-bottom: 10px;
}

.title-thumb-article-thumbnail {
  height: 100px;
}

.issue-section-content-summary .ucb-article-category-icon{
  display: none;
}

.issue-article-categories .ucb-article-categories{
  padding-left: 0px;
  padding-left: 0px;
}



.ucb-article-tags,
.ucb-article-categories,
.ucb-article-issue {
  margin-bottom: 1em;
  display: flex;
  font-size: 12px;
  line-height: 1em;
}

.ucb-article-category-icon, .ucb-article-tag-icon {
  background-color: #555555;
  color: #e7e7e7;
  padding: 6px;
}

.ucb-article-categories div,
.ucb-article-tags div,
.ucb-article-issue div {
  display: flex;
  flex-direction: row;
  line-height: 1.5em;
}

.ucb-article-categories a:link,
.ucb-article-categories a:visited,
.ucb-article-tags a:link,
.ucb-article-tags a:visited,
.ucb-article-issue a:link,
.ucb-article-issue a:visited {
  background: #e7e7e7;
  color: #555;
  padding: 6px;
  display: inline-block;
  margin-right: 8px;
}

.ucb-article-categories a:hover,
.ucb-article-tags a:hover,
.ucb-article-issue a:hover {
  background: #555;
  color: #fff;
}

.ucb-article-tags i.fa-solid,
.ucb-article-categories i.fa-solid,
.ucb-article-issue i.fa-solid {
  padding: 0.5em;
  background: #555;
  color: #fff;
  margin-right: -1em;
}
