.ucb-list-msg {
  font-size: 1.25em;
  font-weight: bolder;
  text-align: center;
  display: none;
}

.ucb-loading-data {
  color: #01579b;
}

.ucb-article-card-data {
  display: flex;
  flex-direction: column;
}

.ucb-article-card {
  margin-bottom: 2em;
}

.ucb-article-card-title {
  font-size: 1.5rem;
  font-weight: bolder;
}

.ucb-article-card-info, .ucb-article-card-date, .ucb-article-card-site {
  font-size: 0.75rem;
  line-height: 0.75rem;
  margin-bottom: 10px;
}

.ucb-article-card-img, .ucb-article-card-default-img {
	display: flex;
	max-width: 100%;
	height: auto;
	justify-content: center;
}

.ucb-article-card-default-img {
	font-size: 72pt;
}

@media only screen and (max-width: 991px) {
	.ucb-article-card-default-img {
		font-size: 55pt;
	}	
}