<div class = "ucb-mega-menu-column">
  <strong class = "ucb-mega-menu-column-label">{{ content.field_mega_menu_links_list_label|render}}</strong>
  <ul class = "ucb-mega-menu-column-links-wrapper">
    {{ content.field_mega_menu_links_list_links|render }}
  </ul>
</div>