.ucb-main-nav-continer.ucb-secondary-menu-position-above .ucb-secondary-menu-region .ucb-menu {
  gap: 0rem;
}

.ucb-main-nav-continer.ucb-secondary-menu-position-above .ucb-primary-menu-region-container,
.ucb-main-nav-continer.ucb-secondary-menu-position-inline {
  background-color: #272727;
}

.ucb-header-light .ucb-main-nav-continer.ucb-secondary-menu-position-above .ucb-secondary-menu-region .menu-item a,
.ucb-header-white .ucb-main-nav-continer.ucb-secondary-menu-position-above .ucb-secondary-menu-region .menu-item a  {
  color: #000;
}

.ucb-header-dark .ucb-main-nav-continer.ucb-secondary-menu-position-above .ucb-secondary-menu-region,
section.ucb-main-nav-section.ucb-header-dark{
  background-color: #424242;
}

.ucb-header-light .ucb-main-nav-continer.ucb-secondary-menu-position-above .ucb-secondary-menu-region,
section.ucb-main-nav-section.ucb-header-light{
  background-color: #eee;
}

.ucb-header-white .ucb-main-nav-continer.ucb-secondary-menu-position-above .ucb-secondary-menu-region,
section.ucb-main-nav-section.ucb-header-white{
  background-color: #fff;
}

.ucb-header-black .ucb-main-nav-continer.ucb-secondary-menu-position-above .ucb-secondary-menu-region,
section.ucb-main-nav-section.ucb-header-black{
  background-color: #000;
}


.ucb-main-nav-continer.ucb-secondary-menu-position-above .ucb-secondary-menu-region .menu-item {
  color: #ccc;
  font-weight: 600;
}
.ucb-main-nav-continer.ucb-secondary-menu-position-above .ucb-secondary-menu-region .menu-item a {
  display: inline-block;
  color: #ccc;
  padding: 0;
  margin-left: 15px;
}

.ucb-main-nav-continer.ucb-secondary-menu-position-inline .ucb-secondary-menu-region .menu-item a.nav-link:hover,
.ucb-main-nav-continer.ucb-secondary-menu-position-inline .ucb-secondary-menu-region .menu-item a.nav-link:focus,
.ucb-main-nav-continer.ucb-secondary-menu-position-inline .ucb-secondary-menu-region .menu-item a.nav-link.active,
.ucb-main-nav-continer.ucb-secondary-menu-position-inline .ucb-secondary-menu-region .menu-item a.nav-link.active-trail {
  color: #cfb87c;
  border-bottom: 0;
  background: transparent;
}

li.main-menu-item a.nav-link,
.ucb-main-nav-continer.ucb-secondary-menu-position-inline .ucb-secondary-menu-region .menu-item a {
  color: #ccc;
  font-weight: 600;
  border-bottom: 0;
}

.ucb-header-light .ucb-main-nav-continer.ucb-secondary-menu-position-above .ucb-secondary-menu-region .menu-item a.nav-link.active,
.ucb-header-white .ucb-main-nav-continer.ucb-secondary-menu-position-above .ucb-secondary-menu-region .menu-item a.nav-link.active, 
.ucb-header-light .ucb-main-nav-continer.ucb-secondary-menu-position-above .ucb-secondary-menu-region .menu-item a.nav-link.active-trail,
.ucb-header-white .ucb-main-nav-continer.ucb-secondary-menu-position-above .ucb-secondary-menu-region .menu-item a.nav-link.active-trail, 
.ucb-header-light .ucb-main-nav-continer.ucb-secondary-menu-position-above .ucb-secondary-menu-region .menu-item a.nav-link:hover,
.ucb-header-white .ucb-main-nav-continer.ucb-secondary-menu-position-above .ucb-secondary-menu-region .menu-item a.nav-link:hover, 
.ucb-header-light .ucb-main-nav-continer.ucb-secondary-menu-position-above .ucb-secondary-menu-region .menu-item a.nav-link:focus,
.ucb-header-white .ucb-main-nav-continer.ucb-secondary-menu-position-above .ucb-secondary-menu-region .menu-item a.nav-link:focus, 
li.main-menu-item a.nav-link.active,
li.main-menu-item a.nav-link.active-trail,
li.main-menu-item a.nav-link:hover,
li.main-menu-item a.nav-link:focus {
  color: #cfb87c;
  border-bottom: 0;
}

.after-content-wrapper,
.after-content2-wrapper,
.footer-wrapper,
.ucb-footer-bottom {
  padding: 40px 0px 20px;
}
