.ucb-main-nav-continer.ucb-secondary-menu-position-above .ucb-secondary-menu-region .ucb-menu {
  gap: 0rem;
}

.ucb-header-dark .ucb-main-nav-continer.ucb-secondary-menu-position-above .ucb-secondary-menu-region {
  background-color: #424242;
}

.ucb-header-light .ucb-main-nav-continer.ucb-secondary-menu-position-above .ucb-secondary-menu-region {
  background-color: #eee;
}

.ucb-header-white .ucb-main-nav-continer.ucb-secondary-menu-position-above .ucb-secondary-menu-region {
  background-color: #fff;
}

.ucb-header-black .ucb-main-nav-continer.ucb-secondary-menu-position-above .ucb-secondary-menu-region {
  background-color: #000;
}

.ucb-secondary-menu-region-container {
  background-color: #000;
}

section.ucb-main-nav-section {
  background-color: #444;
}

.ucb-main-menu li.menu-item a.nav-link {
  color: #fff;
  font-size: 90%;
  font-weight: 600;
  border-bottom: none;
  margin-top: 0;
}
.ucb-main-menu li.menu-item a.nav-link:hover,
.ucb-main-menu li.menu-item a.nav-link:focus,
.ucb-main-menu li.menu-item a.nav-link.is-active,
.ucb-main-menu li.menu-item.active a.nav-link:first-of-type{
  background-color: #fff;
  color: #363839;
  border-bottom: none;
}

.ucb-main-nav-continer.ucb-secondary-menu-position-inline .ucb-secondary-menu-region li.menu-item a.nav-link {
  background-color: #444;
  color: #bbb;
  font-weight: 400;
}

.ucb-button-none.ucb-main-nav-continer.ucb-secondary-menu-position-inline .ucb-secondary-menu-region li.menu-item a.nav-link:hover,
.ucb-button-none.ucb-main-nav-continer.ucb-secondary-menu-position-inline .ucb-secondary-menu-region li.menu-item a.nav-link.is-active,
.ucb-button-none.ucb-main-nav-continer.ucb-secondary-menu-position-inline .ucb-secondary-menu-region li.menu-item.active a.nav-link:first-of-type {
  background-color: #444;
  color: #fff;
  font-weight: 400;
}

.ucb-main-nav-continer.ucb-secondary-menu-position-above .ucb-secondary-menu-region li.menu-item a.nav-link {
  color: #bbb;
  font-weight: 400;
  padding: 0 0.25rem;
}

.ucb-main-nav-continer.ucb-secondary-menu-position-inline .ucb-secondary-menu-region .ucb-menu {
  background-color: #444;
}

.ucb-main-nav-continer.ucb-secondary-menu-position-above .ucb-secondary-menu-region li.menu-item:hover,
.ucb-main-nav-continer.ucb-secondary-menu-position-above .ucb-secondary-menu-region li.menu-item.active {
  background-color: #444;
  color: #fff;
}
.ucb-main-nav-continer.ucb-secondary-menu-position-above .ucb-secondary-menu-region li.menu-item a.nav-link:hover,
.ucb-main-nav-continer.ucb-secondary-menu-position-above .ucb-secondary-menu-region li.menu-item a.nav-link.is-active,
.ucb-main-nav-continer.ucb-secondary-menu-position-above .ucb-secondary-menu-region li.menu-item a.nav-link.active-trail {
  color: #fff;
}
