{#
/**
* Theme layout to display a UCB Newsletter Page in Email HTML.
*
*/
#}

{%
    set classes = [
    'node',
    'node--type-' ~ node.bundle|clean_class,
    not node.isPublished() ? 'node--unpublished',
    view_mode ? 'node--view-mode-' ~ view_mode|clean_class,
    ]
%}


<div class="container" id="email-preview" style="background-color: grey">
    <div id="email" style="width:600px;margin: auto;background:white;">
        <table role="presentation" border="0" width="100%" cellspacing="0" style="border-collapse: collapse; border-spacing: 0; padding: 0; text-align: left; vertical-align: top; height: 100%; width: 100%; color: #222222; font-family: Helvetica, Arial, sans-serif; font-weight: normal; line-height: 19px; margin: 0; font-size: 14px; background-color: #f2f2f2;">
            <!-- Header --> 
            <tr>
                <h1 id="newsletter-email-title" style="padding: 30px 30px 15px 60px;font-size: 52px; margin:0 0 20px 0; font-family:Roboto, Helvetica Neue, Helvetica, Arial, sans-serif;"> {{ label }}</h1>
              <td align="center" style="text-align: left; padding-right:10px; padding-left:10px">
            <!-- Intro Img --> 
                {% if content.field_newsletter_intro_image|render %}
                <img id="newsletter-email-intro-img" src="{{file_url(node.field_newsletter_intro_image.entity.field_media_image.entity.fileuri)}}" width="100%" style="margin-bottom: 20px;">
                {% endif %}
            <!-- Intro Text-->
                {% if content.field_newsletter_intro_body|render %}
                <div id="newsletter-intro-body">{{ content.field_newsletter_intro_body }}</div>
                {% endif %}
                </td>
            </tr>
        </table>
        <!--Second table-->
        <table>
        {% if content.field_newsletter_section_block|render %}
        <!--Newsletter Section-->
        {{content.field_newsletter_section_block|render}}
            {% endif %}
        </table>
    </div>
</div>