{#
/**
 * Theme layout to display a UCB Footer Region page.
 *
 * Created by jnichol4 on 8/17/23
 */
#}


{% if content|render %}
	<div class="row row-cols-lg-4 row-cols-md-2 row-cols-1 footer-columns">
		{% for item in elements %}
			{% if item.content|render|striptags|trim is not empty %}
				<div class="col flex-fill">
					{{ item.content }}
				</div>
			{% endif %}
		{% endfor %}
	</div>
{% endif %}
