{#
/**
 * @file
 * Theme override to display a region.
 *
 * Available variables:
 * - content: The content for this region, typically blocks.
 * - attributes: HTML attributes for the region <div>.
 * - region: The name of the region variable as defined in the theme's
 *   .info.yml file.
 *
 * @see template_preprocess_region()
 */
#}
<script src="https://cdn.jsdelivr.net/npm/accessible-menu@3.0.8/dist/accessible-menu.min.js" type="module"></script>
<div class="ucb-primary-menu-region-container{{ ucb_secondary_menu_position == 'above' ? ' container' : '' }}">
  <nav class="ucb-main-menu" id="ucb-main-menu-nav">
    <div class="ucb-mobile-menu-button-div">
      <button id="example-toggle" aria-label="Toggle example menu">☰</button>
    </div>
    <div class="ucb-primary-menu-region">
      {{ content }}
    </div>
  </nav>
</div>
