{#
/**
 * @file
 * Contains the template to display the Footer region.
 *
 * Available variables:
 * - content: The content for this region, typically blocks.
 * - attributes: HTML attributes for the region <div>.
 * - region: The name of the region variable as defined in the theme's
 *   .info.yml file.
 *
 * @see template_preprocess_region()
 */
#}

{% if content %}
  <div class="row row-cols-lg-4 row-cols-md-2 row-cols-1 footer-columns">
    <div class="col flex-fill">
      {{ content }}
    </div>
  </div>
{% endif %}
