/** Global styles */
html {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

.page {
  background: #fff;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a:link,
a:visited {
  color: #0277bd;
  transition:
    background-color 0.25s ease,
    border-color 0.25s ease,
    color 0.25s ease;
  text-decoration: none;
  text-decoration-color: rgba(2 119 189 / 65%);
  -webkit-text-decoration-color: rgba(2 119 189 / 65%);
}

a:hover {
  color: #b71c1c;
  text-decoration-color: rgba(183 28 28 / 65%);
  -webkit-text-decoration-color: rgba(183 28 28 / 65%);
}

a:active {
  color: #b71c1c;
  text-decoration-color: rgba(183 28 28 / 65%);
  -webkit-text-decoration-color: rgba(183 28 28 / 65%);
}

/** Branding styles */
#print-header {
  display: none;
}

header.white {
  background: #fff;
  color: #111;
}

header.white a:link,
header.white a:visited,
header.white a:hover {
  color: #111;
}

header.light {
  background: #eee;
  color: #111;
}

header.light a:link,
header.light a:visited,
header.light a:hover {
  color: #111;
}

header.dark {
  background: #424242;
  color: #fff;
}

header.dark a:link,
header.dark a:visited,
header.dark a:hover {
  color: #fff;
}

header.black {
  background: #000;
  color: #fff;
}

header.black a:link,
header.black a:visited,
header.black a:hover {
  color: #fff;
}

header.ucb {
  position: relative;
  display: flex;
  align-items: center;
  font-size: 20px;
  padding: 15px 0;
  font-weight: 750;
  font-family: Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1.1;
}

.site-name {
  padding: 0;
  margin: 0;
}

header.ucb .site-name,
header.ucb h1.site-name {
  font-size: 20px;
  font-weight: 750;
  font-family: Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1.1;
}

@media screen and (min-width: 768px) {
  header.ucb,
  header.ucb .site-name,
  header.ucb h1.site-name {
    font-size: 30px;
  }
}

header.ucb .site-name-wrapper {
  flex-grow: 1;
  padding-right: 40px;
}

.affiliation {
  text-transform: uppercase;
  font-size: 50%;
  padding-top: 5px;
  font-weight: bold;
}

.banner-black .header-wrapper .affiliation,
.banner-black .header-wrapper .affiliation a:link,
.banner-black .header-wrapper .affiliation a:visited,
header.ucb.black .affiliation,
header.ucb.black .affiliation a:link,
header.ucb.black .affiliation a:visited {
  color: #aaa;
}

.banner-dark .header-wrapper .affiliation,
.banner-dark .header-wrapper .affiliation a:link,
.banner-dark .header-wrapper .affiliation a:visited,
header.ucb.dark .affiliation,
header.ucb.dark .affiliation a:link,
header.ucb.dark .affiliation a:visited {
  color: #9b9b9b;
}

.banner-light .header-wrapper .affiliation,
.banner-light .header-wrapper .affiliation a:link,
.banner-light .header-wrapper .affiliation a:visited,
header.ucb.light .affiliation,
header.ucb.light .affiliation a:link,
header.ucb.light .affiliation a:visited {
  color: #6e6e6e;
}

.banner-white .header-wrapper .affiliation,
.banner-white .header-wrapper .affiliation a:link,
.banner-white .header-wrapper .affiliation a:visited,
header.ucb.white .affiliation,
header.ucb.white .affiliation a:link,
header.ucb.white .affiliation a:visited {
  color: #757575;
}


