@charset "UTF-8";
/** Global styles */
html { box-sizing: border-box; }

body { margin: 0; padding: 0; }

.page { background: #fff; }

*, *:before, *:after { box-sizing: inherit; }

a:link, a:visited { color: #0277BD; transition: background-color 0.25s ease, border-color 0.25s ease, color 0.25s ease; text-decoration: none; text-decoration-color: rgba(2, 119, 189, 0.65); -webkit-text-decoration-color: rgba(2, 119, 189, 0.65); }
a:hover { color: #B71C1C; text-decoration-color: rgba(183, 28, 28, 0.65); -webkit-text-decoration-color: rgba(183, 28, 28, 0.65); }
a:active { color: #B71C1C; text-decoration-color: rgba(183, 28, 28, 0.65); -webkit-text-decoration-color: rgba(183, 28, 28, 0.65); }

/** Headings */
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 { line-height: 1.3; margin: 0 0 10px 0; }

.footer-section h1, .footer-section h2, .footer-section h3, .footer-section h4, .footer-section h5, .footer-section h6, .footer-section .h1, .footer-section .h2, .footer-section .h3, .footer-section .h4, .footer-section .h5, .footer-section .h6 { margin: 0 0 10px 0; }

h2, .h2 { font-size: 140%; }

h3, .h3 { font-size: 130%; }

h4, .h4 { font-size: 120%; }

h5, .h5 { font-size: 110%; }

h6, .h6 { font-size: 100%; }

.sidebar h2, .sidebar .h2 { font-size: 140%; }
.sidebar h3, .sidebar .h3 { font-size: 130%; }
.sidebar h4, .sidebar .h4 { font-size: 120%; }
.sidebar h5, .sidebar .h5 { font-size: 110%; }
.sidebar h6, .sidebar .h6 { font-size: 100%; }

@media screen and (min-width: 960px) { h2, .h2 { font-size: 160%; }
  h3, .h3 { font-size: 145%; }
  h4, .h4 { font-size: 130%; }
  h5, .h5 { font-size: 115%; }
  h6, .h6 { font-size: 100%; }
  .sidebar h2, .sidebar .h2 { font-size: 132%; }
  .sidebar h3, .sidebar .h3 { font-size: 124%; }
  .sidebar h4, .sidebar .h4 { font-size: 116%; }
  .sidebar h5, .sidebar .h5 { font-size: 108%; }
  .sidebar h6, .sidebar .h6 { font-size: 100%; } }
h1 i, h1 em, .h1 i, .h1 em { font-style: italic; }

@media screen and (min-width: 768px) { h1, .h1 { font-size: 220%; } }
h1, .h1, h1#page-title, #page-title-image-title, .page-title-section h1, h2, h3, h4, .h2, .h3, .h4, h5, h6, .h5, .h6 { font-weight: bold; }

.type-size { font-size: 100% !important; }

p, dl, hr, ol, ul, pre, table, address, fieldset { margin: 0 0 20px 0; }

p:empty { margin: 0; }

.content > *:last-child { margin-bottom: 0; }

dt, .admin h3 { font-weight: 600; margin: 0; }

dd { padding-left: 10px; font-style: italic; margin-bottom: 20px; }
dd p { margin-bottom: 10px; }

blockquote { font-size: 110%; margin: 0px 0px 40px 20px; padding-left: 20px; border-left: 4px solid rgba(128, 128, 128, 0.333); }

small, .small-text { font-size: 80%; font-family: Arial, Helvetica, sans-serif !important; }

sub, sup { /* Specified in % so that the sup/sup is the right size relative to the surrounding text */ font-size: 75%; /* Zero out the line-height so that it doesn't interfere with the positioning that follows */ line-height: 0; /* Where the magic happens: makes all browsers position the sup/sup properly, relative to the surrounding text */ position: relative; /* Note that if you're using Eric Meyer's reset.css, this is already set and you can remove this rule */ vertical-align: baseline; }

sup { /* Move the superscripted text up */ top: -0.5em; }

sub { /* Move the subscripted text down, but only half as far down as the superscript moved up */ bottom: -0.25em; }

/** Font weights 600 is a good bold, 700 is extra black, 900 is extra black condensed */
strong { font-weight: bold; }

.lead { font-size: 130%; line-height: 1.4; }
.lead strong { font-weight: bold; }

.hero, h2.hero, h3.hero { font-size: 200%; line-height: 1.3; font-weight: bold; }

.supersize, h2.supersize, h3.supersize { font-size: 320%; line-height: 1.3; font-weight: bold; }

.breadcrumb { font-size: 85%; margin: 0; padding: 0; }
@media screen and (max-width: 768px) { .breadcrumb { font-size: 75%; } }

em { font-style: italic; }

code { font-family: monospace; font-size: 85%; }

pre { white-space: pre-wrap; }

/** List styles */
ol { list-style: decimal; }

ul { list-style: disc; }

ul ul, ul ol, ol ul, ol ol { margin-bottom: 0; }

.item-list ul li { list-style: disc; margin-bottom: 10px; }
.item-list ul ul li, .item-list ul ul ul ul li, .item-list ul ul ul ul ul ul li { list-style: circle; }
.item-list ul ul ul li, .item-list ul ul ul ul ul li, .item-list ul ul ul ul ul ul ul li { list-style: disc; }
.item-list ul ul, .item-list ol ol { margin: 10px 0 0 0; }
.item-list ol li { margin: 0 0 10px 0; }

ul, ol { padding-left: 1.5em; }

ul.inline, ol.inline { padding-left: 0; }

ul.list-style-none, ul.list-style-nobullet, ul.unstyled { list-style: none; list-style-image: none; padding-left: 0; }

ul.list-style-none > li, ul.list-style-nobullet > li, ul.unstyled li { list-style: none; list-style-image: none; }

ul.list-style-underline > li { list-style: none; }

ul.list-style-underline { list-style: none; list-style-image: none; padding-left: 0; }

ul.list-style-underline > li { list-style: none; border-bottom: 1px solid rgba(128, 128, 128, 0.333); padding-bottom: 10px; margin-bottom: 10px; }

ul.list-style-border { list-style: none; list-style-image: none; padding-left: 0; border-top: 1px solid rgba(128, 128, 128, 0.333); }

ul.list-style-border > li { list-style: none; border: 1px solid rgba(128, 128, 128, 0.333); border-top: none; padding: 10px; margin-bottom: 0; }

ul.list-style-icon-1, ul.list-style-icon-2, ul.list-style-icon-3, ul.list-style-icon-4, ul.list-style-icon-5, ul.list-style-icon-6, ul.list-style-icon-check, ul.list-style-icon-checkbox, ul.list-style-icon-angle-double, ul.list-style-icon-circle-arrow, ul.list-style-icon-star, ul.list-style-icon-finger { list-style: none; list-style-image: none; overflow: hidden; }
ul.list-style-icon-1 > li, ul.list-style-icon-2 > li, ul.list-style-icon-3 > li, ul.list-style-icon-4 > li, ul.list-style-icon-5 > li, ul.list-style-icon-6 > li, ul.list-style-icon-check > li, ul.list-style-icon-checkbox > li, ul.list-style-icon-angle-double > li, ul.list-style-icon-circle-arrow > li, ul.list-style-icon-star > li, ul.list-style-icon-finger > li { list-style: none !important; list-style-image: none !important; position: relative; }
ul.list-style-icon-1 li:before, ul.list-style-icon-2 li:before, ul.list-style-icon-3 li:before, ul.list-style-icon-4 li:before, ul.list-style-icon-5 li:before, ul.list-style-icon-6 li:before, ul.list-style-icon-check li:before, ul.list-style-icon-checkbox li:before, ul.list-style-icon-angle-double li:before, ul.list-style-icon-circle-arrow li:before, ul.list-style-icon-star li:before, ul.list-style-icon-finger li:before { font-family: "Font Awesome 5 Free", "FontAwesome"; position: absolute; top: 0; left: -20px; color: #cfb87c; }

ul.list-style-icon-1 > li:before, ul.list-style-icon-check > li:before { content: '\f00c'; font-weight: 900; }

ul.list-style-icon-2 > li:before, ul.list-style-icon-checkbox > li:before { content: '\f14a'; font-weight: 900; }

ul.list-style-icon-3 > li:before, ul.list-style-icon-angle-double > li:before { content: '\f101'; font-weight: 900; }

ul.list-style-icon-4 > li:before, ul.list-style-icon-circle-arrow > li:before { content: '\f0a9'; font-weight: 900; }

ul.list-style-icon-5 > li:before, ul.list-style-icon-star > li:before { content: '\f005'; font-weight: 900; }

ul.list-style-icon-6 > li:before, ul.list-style-icon-finger > li:before { content: '\f0a4'; font-weight: 900; }

/* ORDERED LIST STYLES */
ol.list-style-alpha-upper, ol.list-style-alpha-upper > li { list-style: upper-alpha; }

ol.list-style-alpha-lower, ol.list-style-alpha-lower > li { list-style: lower-alpha; }

ol.list-style-roman-upper, ol.list-style-roman-upper > li { list-style: upper-roman; }

ol.list-style-roman-lower, ol.list-style-roman-lower > li { list-style: lower-roman; }

ul.list-menu a { display: block; }
ul.list-menu a.active { filter: grayscale(100%); font-weight: bold; }
ul.list-menu ul { margin-bottom: 0; }

ul.list-style-linear { margin: 0 0 20px 0; padding: 0; list-style: none; overflow: hidden; }
ul.list-style-linear > li { list-style: none; float: left; padding-left: 20px; }
ul.list-style-linear > li:first-child { padding-left: 0; }

ul.list-style-linear-dots { margin: 0 0 20px 0; padding: 0; list-style: none; overflow: hidden; }
ul.list-style-linear-dots > li { list-style: none; float: left; padding-left: 8px; }
ul.list-style-linear-dots > li:first-child { padding-left: 0; }
ul.list-style-linear-dots > li:before { content: "•"; padding-right: 8px; }
ul.list-style-linear-dots > li:first-child:before { content: none; padding: 0; }
