{{ attach_library('boulderD9_base/ucb-sticky-menu') }}
<div class="ucb-sticky-menu">
	<div class="background-black">
		<div class="container">
			<a href="https://www.colorado.edu" class="ucb-home-link"><img class="ucb-logo" src="https://cdn.colorado.edu/static/brand-assets/live/images/cu-boulder-logo-text-white.svg" alt="University of Colorado Boulder"></a>
		</div>
	</div>
</div>
