{#
/**
 * Theme layout to display a UCB Secondary Menu.
 *
 * Created by jsparks on 6/19/19
 */
#}

<div class="ucb-footer-nav-container container">
    <div class="ucb-footer-nav-block">
        <div class="ucb-system-menu-block">
            <span class="ucb-menu-title">Get Help</span>
            <ul class="ucb-menu nav">
                <li class="menu-item">
                    <a href="https://www.colorado.edu/students" class="nav-link">Campus & Student Services</a>
                </li>
                <li class="menu-item">
                    <a href="https://www.colorado.edu/get-help/safety-health-quick-calls" class="nav-link">Safety & Health Services</a>
                </li>
                <li class="menu-item">
                    <a href="http://www.colorado.edu/today" class="nav-link">Campus Communications</a>
                </li>
                <li class="menu-item">
                    <a href="http://alerts.colorado.edu/" class="nav-link">Emergency Alert System</a>
                </li>
                <li class="menu-item">
                    <a href="http://www.colorado.edu/orientation" class="nav-link">New Student & Family Programs</a>
                </li>
                <li class="menu-item">
                    <a href="https://www.colorado.edu/campus-accessibility" class="nav-link">Accessibility</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="ucb-footer-nav-block">
        <div class="ucb-system-menu-block">
        <span class="ucb-menu-title">Getting Around</span>
            <ul class="ucb-menu nav">
                <li class="menu-item">
                    <a href="http://www.colorado.edu/atoz/letter/a" class="nav-link">A to Z Directory</a>
                </li>
                <li class="menu-item">
                    <a href="http://www.colorado.edu/map/" class="nav-link">Campus Map</a>
                </li>
                <li class="menu-item">
                    <a href="http://www.colorado.edu/events" class="nav-link">Campus Events</a>
                </li>
                <li class="menu-item">
                    <a href="http://www.colorado.edu/pts/" class="nav-link">Parking & Transportation</a>
                </li>
                <li class="menu-item">
                    <a href="http://www.colorado.edu/visit" class="nav-link">Visit Information</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="ucb-footer-nav-block">
        <div class="ucb-system-menu-block">
            <span class="ucb-menu-title">Information for</span>
            <ul class="ucb-menu nav">
                <li class="menu-item">
                    <a href="https://www.colorado.edu/admissions" class="nav-link">Prospective Students</a>
                </li>
                <li class="menu-item">
                    <a href="https://www.colorado.edu/students" class="nav-link">Current Students</a>
                </li>
                <li class="menu-item">
                    <a href="https://www.colorado.edu/facultystaff" class="nav-link">Faculty & Staff</a>
                </li>
                <li class="menu-item">
                    <a href="http://www.colorado.edu/parents" class="nav-link">Families</a>
                </li>
                <li class="menu-item">
                    <a href="https://www.colorado.edu/today/media" class="nav-link">Journalists</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="ucb-footer-nav-block">
        <div class="ucb-system-menu-block">
            <span class="ucb-menu-title">Initiatives</span>
            <ul class="ucb-menu nav">
                <li class="menu-item">
                    <a href="http://www.colorado.edu/industry/" class="nav-link"><i class="fas fa-lg fa-briefcase font-white"></i>&nbsp;&nbsp;Business & Industry Collaborations</a>
                </li>
                <li class="menu-item">
                    <a href="http://www.colorado.edu/odece/" class="nav-link"><i class="fas fa-lg fa-users font-white"></i>&nbsp;&nbsp;Diversity & Community Engagement</a>
                </li>
                <li class="menu-item">
                    <a href="https://www.colorado.edu/free-expression" class="nav-link"><i class="fas fa-lg fa-flag font-white"></i>&nbsp;&nbsp;Free Speech</a>
                </li>
                <li class="menu-item">
                    <a href="http://www.colorado.edu/entrepreneurship" class="nav-link"><i class="fas fa-lg fa-lightbulb font-white"></i>&nbsp;&nbsp;Innovation & Entrepreneurship</a>
                </li>
                <li class="menu-item">
                    <a href="http://www.colorado.edu/international" class="nav-link"><i class="fas fa-lg fa-globe-americas font-white"></i>&nbsp;&nbsp;International Students</a>
                </li>
                <li class="menu-item">
                    <a href="http://outreach.colorado.edu/" class="nav-link"><i class="fas fa-lg fa-road font-white"></i>&nbsp;&nbsp;Public & Outreach Programs</a>
                </li>
                <li class="menu-item">
                    <a href="http://www.colorado.edu/sustainability" class="nav-link"><i class="fas fa-lg fa-leaf font-white"></i>&nbsp;&nbsp;Sustainability Initiatives</a>
                </li>
            </ul>
        </div>
    </div>
</div>
