{#
/**
 * Theme layout to display a UCB Secondary Menu.
 *
 * Created by jsparks on 6/19/19
 */
#}

<ul class="ucb-menu nav">
    <li class="menu-item">
        <a href="https://www.colorado.edu/students" class="nav-link">Students</a>
    </li>
    <li class="menu-item">
        <a href="https://www.colorado.edu/faculty" class="nav-link">Faculty</a>
    </li>
    <li class="menu-item">
        <a href="https://www.colorado.edu/staff" class="nav-link">Staff</a>
    </li>
    <li class="menu-item">
        <a href="https://www.colorado.edu/parents" class="nav-link">Families</a>
    </li>
    <li class="menu-item">
        <a href="https://www.colorado.edu/alumni" class="nav-link">Alumni</a>
    </li>
</ul>