{#
/**
 * @file Contains the template to display the Faculty Publications block.
 */
#}
{% set classes = [
  'container',
  'block',
  'block-' ~ configuration.provider|clean_class,
  'block-' ~ plugin_id|clean_class,
  bundle ? 'block--type-' ~ bundle|clean_class,
  view_mode ? 'block--view-mode-' ~ view_mode|clean_class,
  'ucb-faculty-publications'
] %}

{# Logged In - Used for showing errors to only authenticated #}
{% set logged_in_class = logged_in ? 'ucb-authenticated' : 'ucb-anonymous' %}

{% set blockContent = content['#block_content'] %}
{% set fieldFrom = blockContent.field_faculty_publications_from.value %}
{% set fieldTo = blockContent.field_faculty_publications_to.value %}
{% set fieldDpt = blockContent.field_faculty_publications_dpt.value %}
{% set fieldP = blockContent.field_faculty_publications_p %}
{% set email = faculty_publications_auto_email ? faculty_publications_auto_email : blockContent.field_faculty_publications_email.value %}
{% set people = fieldP ? fieldP|map(item => item.entity)|merge(faculty_publications_jt_people ?? []) : faculty_publications_jt_people %}
{% extends '@boulder_base/block/styled-block.html.twig' %}
{% block content %}
  {{ attach_library('boulder_base/ucb-faculty-publications') }}
  <faculty-publications{{ create_attribute({
    class: logged_in_class,
    from: fieldFrom ? fieldFrom|date('Y-m-d') : null,
    to: fieldTo ? fieldTo|date('Y-m-d') : null,
    department: fieldDpt ? fieldDpt|trim : null,
    email: email,
    count: blockContent.field_faculty_publications_count.value,
    sort: blockContent.field_faculty_publications_sort.value,
    emails: people ? people|map(person => person.field_ucb_person_email.value)|json_encode : null
  }) }}>
    <noscript>
      <p>
        <strong>JavaScript is required to display the publications.</strong>
      </p>
    </noscript>
  </faculty-publications>
{% endblock %}
