{#
/**
 * Theme layout to display a UCB Breadcrumb Menu Navigation page. 
 * The purpose of this template is to make sure that there are more links than the home link in the nav item.
 *
 */
#}

{% if (content['#links']|length > 1) %}
		<div class="container">
			{{ content }}
		</div>
{% endif %}
