{#
/**
 * @file Template to implement the "Footer Menu"
 * @author Timur Tripp
*/
#}
{{ attach_library('boulderD9_base/ucb-footer-menu') }}
{% block content %}
<div class="ucb-footer-menu container">
	{{ content }}
</div>
{% endblock %}