{#
/**
 * Theme layout to email icon for social media icon blocks
 * Created by Jacob Korf on 2/15/2022
 */
#}

{% for item in items %}
	<ul class = "email-ul">
		<li>
			<a href="mailto:{{ item.content }}" title="Email" alt="Email">
				<span class="icon-div">
					<span class="sr-only">Email</span>
					<span class="icon-bg icon-bg-email">
						<i class="fas fa-envelope icon-foreground"></i>
					</span>
					<span class="vertical-icon-span">Email</span>
				</span>
			</a>
		</li>
	</ul>
{% endfor %}
