{#
/**
 * @file
 * Theme override for Paragraph Slider field
 *
 */
#}

{% for item in items %}
	<div class="carousel-item {{ loop.first ? "active" : "" }}">
		<div class="carousel-item-structure">
			{{ item.content }}
		</div>
	</div>
{% endfor %}
