{#
/**
 * @file Contains the template to display the Person node's Department field.
 */
#}
{% if items %}
<div>
    <ul class="ucb-person-department">
        {% for item in items %}
        <li itemprop="department">{{ item.content['#title']|upper }}</li>
        {% endfor %}
    </ul>
</div>
{% endif %}
