{#
/**
 * @file Contains the template to display the Person node's Email field.
 */
#}
{% if items %}
<div>
	<ul class="ucb-person-email-address">
		{% for item in items %}{% set value = item.content['#context'].value|trim %}
		<li>
			<i class="fa fal fa-envelope"></i>&nbsp;<a itemprop="email" href="mailto:{{ value|url_encode }}">{{ value }}</a>
		</li>
		{% endfor %}
	</ul>
</div>
{% endif %}
