{#
/**
 * @file Contains the template to display the Person node's Phone field.
 */
#}
{% if items %}
<div>
	<ul class="ucb-person-phone-numbers">
		{% for item in items %}
		<li>
			<i class="fa-solid fa-phone"></i>&nbsp;<span itemprop="phone">{{ item.content }}</span>
		</li>
		{% endfor %}
	</ul>
</div>
{% endif %}
