{#
/**
 * @file Contains the template to display the Person node's Email field.
 */
#}
{% if items %}
<div>
	<ul class="ucb-person-email-address">
		{% for item in items %}
		<li>
			<i class="fa fal fa-envelope"></i>&nbsp;<a itemprop="email" href="mailto:{{ item.content['#context'].value|trim|url_encode }}">{{ item.content|render|trim }}</a>
		</li>
		{% endfor %}
	</ul>
</div>
{% endif %}
