{% for item in items %}
    {% set byline_entity = item.content['#entity'] %}
    {% if byline_entity.field_author_person_page|length > 0 %}
        {% set author_person_page_entity = byline_entity.field_author_person_page.0.entity %}
        {% if author_person_page_entity %}
        {% set url = url('entity.node.canonical', {'node': author_person_page_entity.id()}) %}
            <a href="{{ url }}">{{ byline_entity.name.value }}</a>
        {% else %}
            <span>{{ byline_entity.name.value }}</span>
        {% endif %}
    {% else %}
        <span>{{ byline_entity.name.value }}</span>
    {% endif %}
{% endfor %}
