/*** Typography Settings ***/
.block-content {
  display: flex;
}

.block-title.hero {
  font-weight: normal;
  font-family: "Roboto Condensed", "Helvetica Neue", Helvetica, Arial, sans-serif; ;
}

.block-title.supersize{
  font-weight: normal;
}

.block-title.strong, .block-title.bold {
  font-weight: bold;
}

.bs-title-scale-decrease .block-title .block-title-text {
  font-size: 80%;
}

.bs-content-scale-decrease p {
  font-size: 80%;
}

.bs-title-scale-increase .block-title .block-title-text {
  font-size: 110%;
}

@media screen and (min-width: 768px) {
  .bs-title-scale-increase .block-title .block-title-text {
    font-size: 125%;
  }
}

@media screen and (min-width: 960px) {
  .bs-title-scale-increase .block-title .block-title-text {
    font-size: 150%;
  }
}

.bs-content-scale-increase p {
  font-size: 110%;
}

@media screen and (min-width: 768px) {
  .bs-content-scale-increase p {
    font-size: 125%;
  }
}

@media screen and (min-width: 960px) {
  .bs-content-scale-increase p {
    font-size: 150%;
  }
}

/*** Heading Styles ***/
.bs-heading-align-centered .block-title {
  text-align: center;
}

/*** Background Color Settings ***/
.block.bs-background-none {
  background-color: transparent;
  color: inherit;
}

.block.bs-background-white {
  background-color: var(--ucb-white);
  color: var(--ucb-black);

}

.block.bs-background-gray {
  background-color: var(--ucb-light-gray);
  color: var(--ucb-black);

}

.block.bs-background-dark-gray {
  background-color: var(--ucb-dark-gray);
  color: var(--ucb-white);

}

.block.bs-background-tan {
  background-color: var(--ucb-light-gold);
  color: var(--ucb-black);

}

.block.bs-background-light-blue {
  background-color: var(--ucb-light-blue);
  color: var(--ucb-black);

}

.block.bs-background-medium-blue {
  background-color: var(--ucb-medium-blue);
  color: var(--ucb-black);

}

.block.bs-background-dark-blue {
  background-color: var(--ucb-dark-blue);
  color: var(--ucb-white);

}

.block.bs-background-light-green {
  background-color: var(--ucb-light-green);
  color: var(--ucb-black);

}

.block.bs-background-brick {
  background-color: var(--ucb-brick);
  color: var(--ucb-white);

}

.block.bs-background-outline {
  background-color: transparent;
  color: inherit;

  border: 1px solid rgba(200, 200, 200, 0.5);
}

.block.bs-background-underline {
  background-color: transparent;
  color: inherit;
  border-bottom: 1px solid rgba(200, 200, 200, 0.5);
  padding: 0 0 20px 0;
}

.block.bs-background-alert {
  background-color: var(--ucb-alert);
  color: var(--ucb-black);

}

/*** Link Color Settings ***/

.block.bs-background-white a {
  color: var(--ucb-link);
}

.block.bs-background-white a:hover {
  color: var(--ucb-link-visited);
}

.block.bs-background-gray a {
  color: var(--ucb-link-dark);
}

.block.bs-background-gray a:hover {
  color: var(--ucb-link-visited);
}

.block.bs-background-dark-gray a {
  color: var(--ucb-gold);
}

.block.bs-background-dark-gray a:hover {
  color: var(--ucb-white);
}

.block.bs-background-tan a {
  color: var(--ucb-link-dark);
}

.block.bs-background-tan a:hover {
  color: var(--ucb-link-visited);
}

.block.bs-background-light-blue a {
  color: var(--ucb-link-dark);
}

.block.bs-background-light-blue a:hover {
  color: var(--ucb-link-visited);
}

.block.bs-background-medium-blue a {
  color: var(--ucb-black);
  text-decoration: underline;
}

.block.bs-background-medium-blue a:hover {
  color: var(--ucb-black);
  text-decoration: underline;
}

.block.bs-background-dark-blue a {
  color: var(--ucb-white);
  text-decoration: underline;
}

.block.bs-background-dark-blue a:hover {
  color: var(--ucb-white);
  text-decoration: underline;
}

.block.bs-background-light-green a {
  color: var(--ucb-link-dark);
}

.block.bs-background-light-green a:hover {
  color: var(--ucb-link-visited);
}

.block.bs-background-brick a {
  color: var(--ucb-white);
  text-decoration: underline;
  text-decoration-color: rgba(221, 221, 221, 0.65);
}

.block.bs-background-brick a:hover {
  color: var(--ucb-white);
  text-decoration: underline;
  text-decoration-color: rgba(221, 221, 221, 0.65);
}

.block.bs-background-alert a,
.block.bs-background-alert a:hover {
  color: var(--ucb-black);
  text-decoration: underline;
}

/*** Icon Styles ***/
.bs-icon-size-increase {
  font-size: 200%;
}

.bs-icon-color-default {
  color: inherit;
}

.bs-icon-color-gray {
  color: #757575;
}

.bs-icon-color-gold {
  color: var(--ucb-gold);
}

.bs-icon-color-blue {
  color: #16a2e1;
}

.bs-icon-color-green {
  color: #5f9c61;
}

.bs-icon-color-orange {
  color: #ec9413;
}

.bs-icon-color-purple {
  color: #9e5aa9;
}

.bs-icon-color-red {
  color: #e45146;
}

.bs-icon-color-yellow {
  color: #ecda13;
}

.bs-icon-position-default {
  display: inline-block;
  margin-right: 5px;
}

.bs-icon-position-offset.block-title-icon {
  display: inline-block;
  float: left;
  margin-bottom: 75px;
  margin-right: 10px;
  padding-top: 5px;
}

.bs-icon-position-top.block-title-icon {
  display: inline-block;
  margin: 0;
  margin-bottom: 5px;
}

.bs-icon-position-top + .block-title-text {
  display: block;
}

/* Block Error Message - Display to Authenticated Only */
.ucb-anonymous.ucb-block-error, .ucb-anonymous .ucb-block-error{
  display: none !important;
}
