.ucb-content-sequence-advanced .tl-timeline {
	color: inherit;
	font-family: Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif; /* Forces CU Boulder site's default font */
	width: 100%;
	height: 720px;
	margin-bottom: 20px;
}

.ucb-content-sequence-advanced .tl-timeline a {
	color: #0277BD;
}

.ucb-content-sequence-advanced .tl-timeline a:hover {
	color: #B71C1C;
	text-decoration: none;
}

.ucb-content-sequence-advanced .tl-timeline p, .ucb-content-sequence-advanced .tl-text, .ucb-content-sequence-advanced .tl-text p {
	color: inherit;
}

.ucb-content-sequence-advanced .tl-media-image { /* Fixes image size issue in Layout Builder */
	width: auto;
	height: auto;
}

.ucb-content-sequence-advanced .tl-attribution {
	display: none;
}

.ucb-content-sequence-advanced .tl-slidenav-previous .tl-slidenav-content-container .tl-slidenav-title, .ucb-content-sequence-advanced .tl-slidenav-next .tl-slidenav-content-container .tl-slidenav-title {
	opacity: .5;
}

.ucb-content-sequence-advanced .tl-slidenav-previous .tl-slidenav-content-container:hover .tl-slidenav-title, .ucb-content-sequence-advanced .tl-slidenav-next .tl-slidenav-content-container:hover .tl-slidenav-title {
	opacity: 1;
}

.ucb-content-sequence-advanced .tl-timeline .tl-headline-date, .ucb-content-sequence-advanced .tl-timeline h3.tl-headline-date {
	color: #757575;
	font-size: .85em;
	font-weight: bold;
	text-transform: uppercase;
}

.ucb-content-sequence-advanced .tl-timegroup {
	background-color: #e2f1f9;
}

.ucb-content-sequence-advanced .tl-timegroup .tl-timegroup-message {
	color: #656565;
}

.ucb-content-sequence-advanced .tl-menubar-button {
	color: #656565;
	background-color: rgb(222, 222, 222, .9);
}

.ucb-content-sequence-advanced .tl-timeaxis .tl-timeaxis-content-container .tl-timeaxis-minor .tl-timeaxis-tick {
	color: #757575;
}

.ucb-content-sequence-advanced .tl-timeaxis .tl-timeaxis-content-container .tl-timeaxis-major .tl-timeaxis-tick {
	color: #222;
}

.ucb-content-sequence-advanced .tl-timemarker .tl-timemarker-content-container {
	background-color: #FFF;
}

.ucb-content-sequence-advanced .tl-timemarker .tl-timemarker-content-container .tl-timemarker-content .tl-timemarker-text h2.tl-headline,
.ucb-content-sequence-advanced .tl-timemarker .tl-timemarker-content-container .tl-timemarker-content .tl-timemarker-media-container [class^="tl-icon-"] {
	color: #222;
}

.ucb-content-sequence-advanced .tl-timemarker.tl-timemarker-active .tl-timemarker-content-container {
	background-color: #222;
}

.ucb-content-sequence-advanced .tl-timemarker.tl-timemarker-active .tl-timemarker-timespan {
	background-color: rgba(0, 0, 0, .1);
}

.ucb-content-sequence-advanced .tl-timemarker.tl-timemarker-active .tl-timemarker-content-container .tl-timemarker-content .tl-timemarker-text h2.tl-headline,
.ucb-content-sequence-advanced .tl-timemarker.tl-timemarker-active .tl-timemarker-content-container .tl-timemarker-content .tl-timemarker-media-container [class^="tl-icon-"] {
	color: #FFF;
}
