/*
 * Styles for content row paragraph
 *
*/

/* Overall Content Row CSS */

.feature-row-image-container .contextual-region button,
.row-image-container .contextual-region button {
  display: none;
}

.ucb-above-content .paragraph--type--content-row,
.ucb-below-content .paragraph--type--content-row {
  padding: 1.5em;
}

.ucb-content-row-teaser {
  border-bottom: 2px solid rgba(128, 128, 128, 0.333);
  margin-bottom: 20px;
}

.teaser-row{
  flex-direction: row-reverse;
  justify-content: flex-end;
}

.ucb-content-row-teaser{
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}
.row-text-container-tile{
  padding: 80px 40px
}

.row-fill {
  display: flex;
  overflow: hidden;
  justify-content: center;
}

.row-fill img {
  flex-shrink: 0;
  min-width: 100%;
  min-height: 100%;
  object-fit: cover;
}

.row-fill article {
  width: 100%;
  height: auto;
}

.row-fill article div {
  height: 100%;
}

/*** Row Alternating ***/
.row-alternate {
  flex-direction: row-reverse;
}

/* Features Layout CSS */

.feature-row {
  margin-bottom: 1em;
}

.feature-row-fill img {
  flex-shrink: 0;
  min-width: 100%;
  min-height: 100%;
  object-fit: cover;
  margin-bottom: 0;
  padding-bottom: 0px;
}

.feature-row-image-container {
  position: relative;
  width: 100%;
}

.feature-row-image-container .feature-row-text {
  padding: 0.75rem;
  position: absolute;
  bottom: 0;
}

.small-feature:first-child {
  margin-bottom: 0.5em;
}

.small-feature:last-child {
  margin-top: 0.5em;
}

.small-feature-row-image-container {
  height: 100%;
  display: flex;
  align-items: self-end;
}

.feature-row-text {
  background: rgba(0, 0, 0, 0.7);
  margin-bottom: 0;
  color: white;
  padding: 0.75em;
  width: 100%;
}

.ucb-teaser-lg-row{
  align-items: flex-start;
  margin-bottom: 20px;
  flex-direction: row-reverse;
}

.ucb-teaser-lg-row.ucb-teaser-lg-alternate{
  align-items: flex-start;
  margin-bottom: 20px;
  flex-direction: inherit;
}

.ucb-teaser-lg-alternate.ucb-teaser-lg-row-odd{
  flex-direction: row-reverse;
}

.row-image-container{
  width: calc(100px + var(--bs-gutter-x));
  height: auto;
  margin-bottom: 20px;
}

.row-image-container-tile-even {
  padding-left: 0px;
  padding-right: calc(var(--bs-gutter-x) * .5);
  padding-top: 0px;
  padding-bottom: 0px;
}

.row-image-container-tile-odd{
  padding-left: calc(var(--bs-gutter-x) * .5);
  padding-right: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
}

.row-content-tile-odd{
  flex-direction: row-reverse;
}

@media screen and (max-width: 975px) {
  .small-feature-row {
    margin-top: 1em;
    padding-right: 0;
    width: 100%;
  }

  .small-feature:first-child {
    padding-right: 0;
  }

  .small-feature:last-child {
    padding-right: 0;
  }
}

@media screen and (max-width:767px) {
  .ucb-teaser-lg-row{
   flex-direction: column-reverse;
  }
  .row-image-container-lg{
   margin-bottom: 10px;
  }
}

@media screen and (max-width: 975px) {
  .teaser-row{
    flex-direction: column-reverse;
  }
}
@media screen and (max-width: 576px) {
  .ucb-teaser-lg-alternate.ucb-teaser-lg-row-odd,
  .ucb-teaser-lg-alternate.ucb-teaser-lg-row-even{
    flex-direction: column-reverse;
  }
  .ucb-teaser-lg-row.ucb-teaser-lg-alternate .row-image-container-lg{
    margin-bottom: 10px;
  }
}

