/*
 * CSS for slider block
 */

/* Bootstrap Carousel overrides */
.carousel-control-next,
.carousel-control-prev {
  width: 5%;
  opacity: 1;
}

/* sizes */
img {
  width: 100%;
  object-fit: cover;
}

.size-ultrawide img {
  max-height: 600px;
  max-width: 1600px;
}

.size-widescreen img {
  max-height: 900px;
  max-width: 1600px;
}

.size-threetwo img {
  max-height: 1000px;
  max-width: 1500px;
}

.size-large img {
  max-height: 70vh;
}

/* text position */
a.slide-link {
  color: white;
}

.carousel-caption {
  padding: 1em;
}

.carousel-inner .carousel-caption {
  position: absolute;
  font-size: 14px;
}

.bottom-overlay .carousel-inner .carousel-caption {
  top: auto;
  background-color: rgba(0, 0, 0, 0.7);
  right: 0;
  left: 0;
  text-align: left;
}

.right-overlay .carousel-inner .carousel-caption {
  top: 0;
  right: 0;
  left: 70%;
  background-color: rgba(0, 0, 0, 0.7);
  text-align: left;
  padding: 1rem;
}

.center-overlay .carousel-inner .carousel-caption {
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.right-content .carousel-inner .carousel-caption {
  right: 0;
  left: 0;
  text-align: left;
  padding: 2rem 1rem;
  position: relative;
  max-width: 400px;
}

.right-content .carousel-inner {
  display: flex;
}

.right-content .carousel-item.active,
.carousel-item.carousel-item-next.carousel-item-start,
.carousel-item.carousel-item-next.carousel-item-end,
.carousel-item.carousel-item-prev.carousel-item-start,
.carousel-item.carousel-item-prev.carousel-item-end {
  display: flex;
  flex-direction: row;
}

.content-right .carousel-caption {
  position: relative;
}

.slide-image-container {
  flex-grow: 1;
  padding-bottom: 20px;
}

.bottom-content .carousel-inner .carousel-caption {
  background-color: var(--ucb-darker);
  right: 0;
  left: 0;
  text-align: left;
  position: relative;
}

.right-overlay .slide-text-container {
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: column;
  justify-content: center;
}

.center-overlay .slide-text-container {
  margin: auto;
  justify-content: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  max-width: calc(100% - 100px);
}

.carousel-inner a:hover {
  cursor: pointer;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  border-radius: 100px;
  width: 3rem;
  height: 3rem;
  background-size: 75% 75%;
}

.carousel-control-next-icon {
  background-position: 60%;
}

.carousel-control-prev-icon {
  background-position: 30%;
}

.carousel-control-prev-icon:hover,
.carousel-control-next-icon:hover {
  background-color: rgba(0, 0, 0, 0.6);
}

a.slide-link i.fa,
a.slide-link i.fab {
  color: #aaa;
}

/* media queries */
@media screen and (max-width: 992px) {
  .right-content .carousel-inner .carousel-caption {
    max-width: 100%;
    top: auto;
    bottom: 0;
    background-color: var(--ucb-darker);
    right: 0;
    left: 0;
    text-align: left;
    position: relative;
  }

  .right-content .carousel-inner {
    display: block;
  }

  .right-content .carousel-item.active,
  .carousel-item.carousel-item-next.carousel-item-start,
  .carousel-item.carousel-item-next.carousel-item-end,
  .carousel-item.carousel-item-prev.carousel-item-start,
  .carousel-item.carousel-item-prev.carousel-item-end {
    display: block;
    flex-direction: row;
  }
  .slide-image-container {
    padding-bottom: 0px;
  }
  .carousel-caption {
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .bottom-overlay .carousel-inner .carousel-caption,
  .right-overlay .carousel-inner .carousel-caption,
  .center-overlay .carousel-inner .carousel-caption,
  .right-content .carousel-inner .carousel-caption,
  .bottom-content .carousel-inner .carousel-caption {
    max-width: 100%;
    top: auto;
    bottom: 0;
    background-color: var(--ucb-darker);
    right: 0;
    left: 0;
    text-align: left;
    position: relative;
  }

  .carousel-inner .carousel-caption {
    top: auto;
    bottom: 0;
    background-color: var(--ucb-darker);
    right: 0;
    left: 0;
    text-align: left;
  }
  .carousel-caption {
    width: 100%;
  }
}

.right-content .carousel-item-structure {
  display: flex;
  flex-direction: row;
  width: 100%;
  background-color: var(--ucb-darker);
}

.center-overlay .carousel-item-structure,
.right-overlay .carousel-item-structure,
.bottom-overlay .carousel-item-structure,
.bottom-content .carousel-item-structure {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.slide-image-container img{
  padding-bottom: 0px;
}

.ucb-edge-to-edge .carousel-item img {
  max-width: 100%;
  width: 100%;
  min-width: 100%;
  height: auto;
}