.social-media-icons-block,
.social-media-icons-block ul {
  display: inline-flex;
  flex-direction: column;
  gap: 10px;
  margin: 0;
  padding: 0;
}

.social-media-icons-block ul {
  list-style-type: none;
}

.social-media-icons-block.horizontal-orientation,
.social-media-icons-block.horizontal-orientation ul {
  flex-direction: row;
  flex-wrap: wrap;
}

.social-media-icons-block.horizontal-orientation .icon-label {
  display: none;
}

.social-media-icons-block.imgTiny li i {
  font-size: 12px;
}

.social-media-icons-block.imgTiny .icon-label {
  font-size: 8px;
  width: 75px;
}

.social-media-icons-block.imgTiny .icon-bg {
  height: 24px;
  width: 24px;
}

.social-media-icons-block.imgSmall li i {
  font-size: 16px;
}

.social-media-icons-block.imgSmall .icon-label {
  font-size: 12px;
  width: 100px;
}

.social-media-icons-block.imgSmall .icon-bg {
  height: 32px;
  width: 32px;
}

.social-media-icons-block.imgMedium li i {
  font-size: 24px;
}

.social-media-icons-block.imgMedium .icon-label {
  font-size: 16px;
  width: 125px;
}

.social-media-icons-block.imgMedium .icon-bg {
  height: 48px;
  width: 48px;
}

.social-media-icons-block.imgLarge li i {
  font-size: 32px;
}

.social-media-icons-block.imgLarge .icon-label {
  font-size: 20px;
  width: 150px;
}

.social-media-icons-block.imgLarge .icon-bg {
  height: 64px;
  width: 64px;
}

.social-media-icons-block {
  margin-bottom: 10px;
}

.ucb-above-content .paragraph-icon-bg.icon-bg-media-icons-block,
.ucb-below-content .paragraph-icon-bg.icon-bg-media-icons-block {
  padding: 1.5em;
}

.social-media-icons-block .icon-foreground {
  color: #fff;
}

.social-media-icons-block .icon-bg-twitter {
  background-color: #4da7de;
}

.social-media-icons-block .icon-bg-instagram {
  background-color: #9c7c6e;
}

.social-media-icons-block .icon-bg-linkedin {
  background-color: #3371b7;
}

.social-media-icons-block .icon-bg-youtube {
  background-color: #e02a20;
}

.social-media-icons-block .icon-bg-email {
  background-color: #fbbc05;
}

.social-media-icons-block .icon-bg-pinterest {
  background-color: #c92619;
}

.social-media-icons-block .icon-bg-link {
  background-color: darkblue;
}

.social-media-icons-block .icon-bg-discord {
  background-color: #2c2f33;
}

.social-media-icons-block .icon-bg-flickr {
  background-color: #0063dc;
}

.social-media-icons-block .icon-bg-vimeo {
  background-color: #86c9ef;
}

.social-media-icons-block .icon-bg-reddit {
  background-color: #86c9ef;
}

.social-media-icons-block .icon-bg-wordpress {
  background-color: #21759b;
}

.social-media-icons-block .icon-bg-tiktok {
  background-color: #000;
}

.social-media-icons-block .icon-bg-patreon {
  background-color: #f96854;
}

.social-media-icons-block .icon-bg-facebook {
  background-color: #3b5998;
}

.social-media-icons-block a {
  display: flex;
  background-color: black;
  align-items: center;
}

.social-media-icons-block .icon-bg {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3px;
}

.social-media-icons-block a,
.social-media-icons-block .icon-bg {
  transition-property: background-color;
  transition-duration: 0.25s;
}

.social-media-icons-block a:hover,
.social-media-icons-block a:hover .icon-bg {
  background-color: grey;
}

.social-media-icons-block .icon-label {
  display: inline-block;
  padding: 0 10px;
  color: #fff;
  font-weight: bold;
}
