/*
 * CSS for Text Block Paragraph Type
 *
 */

.block-inline-blocktext-block {
  margin-bottom: 1em;
}

.text-block-body>div {
  width: 100%;
}

.text-block-light-gray {
  background: var(--ucb-light-gray);
  color: var(--ucb-black);
}

.text-block-light-gray a {
  color: #01579B;
}

.text-block-light-gray a:hover {
  color: var(--ucb-link-visited);
}

.text-block-dark-gray {
  background: var(--ucb-dark-gray);
  color: var(--ucb-white);
}

.text-block-dark-gray a {
  color: var(--ucb-gold);
}

.text-block-dark-gray a:hover {
  color: var(--ucb-white);
}

.text-block-black {
  background: var(--ucb-black);
  color: var(--ucb-white);
}

.text-block-black a {
  color: var(--ucb-gold);
}

.text-block-black a:hover {
  color: var(--ucb-white);
}

.text-block-gold {
  background: var(--ucb-gold);
  color: var(--ucb-black);
}

.text-block-gold a {
  color: #111111;
  text-decoration: underline;
  text-decoration-color: rgba(68, 68, 68, 0.65);
}

.text-block-gold:hover {
  color: #111111;
  text-decoration-color: var(--ucb-black);
}

.text-block-card {
  border: 1px solid rgba(200, 200, 200, 0.5);
  padding: 1em;
}

.text-block-gold.text-block-card {
  background: var(--ucb-gold);
  color: var(--ucb-black);
  border: 1px solid var(--ucb-black);
}
.text-block-white.text-block-card {
  background: var(--ucb-white);
  color: var(--ucb-black);
  border: 1px solid var(--ucb-black);
}

.ucb-bootstrap-layout__background-color--gold .text-block-card {
  border: 1px solid var(--ucb-black);
}
