.ucb-article-feature-block-button-container{
    text-align: center;
}

.ucb-article-feature-block-button{
    display: inline-block;
    padding: 5px 10px;
    font-weight: bold;
    font-family: "Roboto","Helvetica Neue",Helvetica,Arial,sans-serif;
    margin-bottom: 5px;
    background-clip: padding-box;
    color: #0277BD !important;
    border: 1px solid #0277BD;
    border-radius: 0px;
    background-color: transparent;
}

.ucb-article-feature-block-button:hover{
    transition: background-color 0.25s ease, border-color 0.25s ease, color 0.25s ease;
    background-color: #0277BD;
    color: white !important;
}

.ucb-article-img-link {
    width: 80px !important;
    height: 80px !important;
    padding: 0;
}

.ucb-article-card{
    flex-direction: row;
    flex-wrap: nowrap;
}

.ucb-inline-large-feature-container, .ucb-inline-half-feature-container{
    padding-right: 20px;
}
.ucb-inline-large-secondary-container, .ucb-inline-half-secondary-container{
    padding-left: 20px;
}