.ucb-vid-reveal {
  position: relative;
}

.ucb-video-text-div {
  position: relative;
}

.ucb-video-reveal-controls {
  position: absolute;
  top: 50%;
  left: 50%;
  line-height: 1.75em;
  z-index: 99;
  cursor: pointer;
  color: white;
  text-shadow: 2px 2px 2px rgb(20 20 20 / 30%);
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 2.25em;
  font-weight: bold;
  height: 100%;
  width: 100%;
  background-color: rgba(20, 20, 20, 0.5);
  background-blend-mode: overlay;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
}

span.ucb-vid-reveal-icon {
  font-size: 2em;
}

.ucb-video-reveal-video {
  display: none;
}

.ucb-video-reveal-image img {
  width: 100%;
}

.ucb-video-reveal-image .media-image-caption {
  display: none;
}

/* Needed to overwrite the imageMedia Style that adds extra padding to images sitewide */
.ucb-video-reveal-image > div > .contextual-region > .imageMediaStyle > img {
  padding-bottom: 0px;
}

.ucb-video-reveal-close {
  width: 100%;
  display: none;
  background: #222;
  color: white;
  text-align: right;
  height: fit-content;
  margin: 0;
  padding-top: 0.25em;
}

.ucb-video-reveal-close i.fas.fa-times-circle {
  font-size: 2em;
  margin-right: 0.25em;
  cursor: pointer;
}

.ucb-video-reveal-video .contextual {
  display: none;
}

/* .ucb-video-reveal-video iframe {
  max-width: 100%;
  width: 100%;
  min-height: 600px;
  height: 100%;
} */

.ucb-video-reveal-video-wrapper{
  width: 100% !important;
  height: auto !important;
}
.ucb-video-reveal-video-wrapper > iframe {
  width: 100%;
  margin: 0 !important;
}
@media screen and (max-width: 768px) {
  .ucb-video-reveal-controls {
    font-size: 1.25em;
  }
}
