.ucb-video-reveal {
  width: 100%;
}

.ucb-video-text-div {
  position: relative;
  background: #000;
}

.ucb-edge-to-edge .ucb-video-reveal-text {
  padding-left: 50px;
  padding-right: 50px;
}

.ucb-video-reveal-controls {
  cursor: pointer;
  color: white;
  text-shadow: 2px 2px 2px rgb(20 20 20 / 30%);
  text-align: center;
  font-size: 2.25em;
  font-weight: bold;
  height: 100%;
  width: 100%;
  background-color: rgba(20, 20, 20, 0.5);
  background-blend-mode: overlay;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
  padding-top: 80px;
  padding-bottom: 80px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

}

span.ucb-vid-reveal-icon {
  font-size: 2em;
}

.ucb-video-reveal-video {
  display: none;
}


.ucb-video-reveal-image img {
  width: 100%;
}

.ucb-video-reveal-image .media-image-caption {
  display: none;
}

/* Needed to overwrite the imageMedia Style that adds extra padding to images sitewide */
.ucb-video-reveal-image > div > .contextual-region > .imageMediaStyle > img {
  padding-bottom: 0px;
  max-height: 600px;
  object-fit: cover;
}

.ucb-video-reveal-video-wrapper {
  display: none;
  height: 100%;
  width: 100%;
}

.ucb-video-reveal-close {
  display: flex;
  flex-direction: column;
  align-items: end;
  width: 100%;
  background: #000;
  color: white;
  text-align: right;
  height: fit-content;
  margin: 0;
}

.ucb-video-reveal-close .ucb-video-reveal-close-button {
  display: block;
  color: inherit;
  background-color: transparent;
  border: 0;
  cursor: pointer;
  margin: 0;
  padding: 0.25em;
}

.ucb-video-reveal-video .contextual {
  display: none;
}

.ucb-video-reveal-icon > svg {
  height: 2em;
  width: 2em;
}

@media screen and (max-width: 768px) {
  .ucb-video-reveal-controls {
    font-size: 1.25em;
  }
}

/* Block Styles CSS */

/* Fix for icon breaking hero */
.block-hero-unit .bs-icon-position-default {
  display: inline-block;
  margin: 0;
}

/* Typography fixes for titles */

.block-hero-unit.bs-background-none .block-title-text {
  color: var(--ucb-black);
}

.block-hero-unit.bs-background-white .block-title-text {
  color: var(--ucb-black);
}

.block-hero-unit.bs-background-gray .block-title-text {
  color: var(--ucb-black);
}

.block-hero-unit.bs-background-dark-gray .block-title-text {
  color: var(--ucb-white);
}

.block-hero-unit.bs-background-tan .block-title-text {
  color: var(--ucb-black);
}

.block-hero-unit.bs-background-light-blue .block-title-text {
  color: var(--ucb-black);
}

.block-hero-unit.bs-background-medium-blue .block-title-text {
  color: var(--ucb-black);
}

.block-hero-unit.bs-background-dark-blue .block-title-text {
  color: var(--ucb-white);
}

.block-hero-unit.bs-background-light-green .block-title-text {
  color: var(--ucb-black);
}

.block-hero-unit.bs-background-brick .block-title-text {
  color: var(--ucb-white);
}

.block-hero-unit.bs-background-outline .block-title-text {
  color: inherit;
}

.block-hero-unit.bs-background-underline .block-title-text {
  color: inherit;
}
