@import "modules/global";
@import "modules/colors";
@import "modules/functions";

/**
 * Icon styles
 */

 @each $name, $color in $icon_colors {
	 .icon-color-#{$name},
	 .exbd-icon-color-#{$name},
   a .icon-color-#{$name},
   a .exbd-icon-color-#{$name} {
		 color: $color;
	 }
	 // Icon Wrappers.
	 .icon-color-#{$name}.icon-wrapper-square,
	 .icon-color-#{$name}.icon-wrapper-rounded,
	 .icon-color-#{$name}.icon-wrapper-circle {
		 background-color: $color;
		 color: set-text-color($color);
	 }
 }
